<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02097_fz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{178,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{178,90}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>02097_fz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,494},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{186,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>02097_gs/02097_gs_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{70,252}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{70,252}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,256}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{74,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,260},{70,252}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{70,252}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,236},{64,226}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{64,226}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,252},{60,240}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{60,240}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,240},{68,234}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{68,234}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{74,220}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{74,220}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,464},{78,214}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{78,214}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,78},{76,204}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{76,204}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,156},{76,204}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{76,204}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{76,236}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,236}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gs/02097_gs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,248}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{70,248}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_gy.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,460},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,30}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>02097_lz/02097_lz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,514},{88,152}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{88,152}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,558},{84,118}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,74},{84,118}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,334},{86,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,67},{86,124}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,460},{96,130}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,59},{96,130}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,234},{104,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,68},{104,120}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,334},{108,136}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,58},{108,136}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,182},{108,150}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{108,150}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{92,164}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{92,164}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,234},{102,98}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,93},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,472},{112,104}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,82},{112,104}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,558},{116,116}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,68},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_lz/02097_lz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,340},{118,132}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,57},{118,132}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>02097_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{232,114}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{232,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02097.png</string>
            <key>size</key>
            <string>{682,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e453921ac4ce57c6eae45224aa21b5f:ef5f4f16d5b24d80b0013ae2886843aa:07425637e0cf77c82271f87fce6534ee$</string>
            <key>textureFileName</key>
            <string>02097.png</string>
        </dict>
    </dict>
</plist>
