<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guang/0.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>yanwu/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>yanwu/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>yanwu/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>53</real>
			</dict>
			<key>yanwu/0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00005.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>109</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>yanwu/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00007.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00008.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00009.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>yanwu/0_00010.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>yanwu/0_00011.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00012.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>yanwu/0_00013.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>53</real>
			</dict>
			<key>yanwu/0_00014.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00015.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>yanwu/0_00016.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>334</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00017.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00018.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>yanwu/0_00019.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>011210.png</string>
			<key>realTextureFileName</key>
			<string>011210.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>