<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{250,220}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,135},{250,220}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{250,220}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,135},{250,220}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,222}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,134},{250,222}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{250,222}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,134},{250,222}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{250,222}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,134},{250,222}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{250,220}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,135},{250,220}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{248,220}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,135},{248,220}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{248,220}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,135},{248,220}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{254,1784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4fa931fa2479462cae3a598a8992ad7:0b5a7168c8d3ef03937b23e138864e8e:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
