<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{111,102},{92,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{92,107}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{98,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,107}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{106,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{106,105}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{106,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{106,101}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{104,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{104,89}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{110,303},{106,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{106,101}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{110,196},{106,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{106,105}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{104,107}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01029.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b56fdd4cf381f91d29e75e939632f18:9c8e1819c3ddb92d6f94ba7d0b4469d6:c74af2d0824edf237b9ad2c537767e75$</string>
            <key>textureFileName</key>
            <string>01029.png</string>
        </dict>
    </dict>
</plist>
