<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{92,390},{70,66}}</string>
                <key>offset</key>
                <string>{32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,83},{70,66}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{92,390},{70,66}}</string>
                <key>offset</key>
                <string>{27,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{70,66}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{92,390},{70,66}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{70,66}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{160,342},{68,64}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{68,64}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{160,408},{66,62}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,67},{66,62}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{92,88}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,58},{92,88}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{110,106}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{110,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{136,220},{120,116}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{120,116}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{110,108}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{110,108}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{122,120}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{122,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{132,128}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{132,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,134}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{140,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01037.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bb83fb52f4f6f2ffa09719e68a7fba:634f5e019e8d3c2e4af163a409fb0be6:badc9da00b35d5a9d0d1fd2a50b736a3$</string>
            <key>textureFileName</key>
            <string>01037.png</string>
        </dict>
    </dict>
</plist>
