<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,45},{154,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,158}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{154,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{152,158}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{152,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{148,158}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{148,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{148,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,45},{148,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{150,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,45},{150,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,45},{154,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,158}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{154,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{152,158}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{152,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{148,158}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{148,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{148,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,45},{148,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{150,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,45},{150,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01071.png</string>
            <key>size</key>
            <string>{1838,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:513dddaa5f7e92ea13fad024455858ae:0531d654e2d4e553878f39e851b6de55:a2bcb123259cc374a745749a2dc75321$</string>
            <key>textureFileName</key>
            <string>01071.png</string>
        </dict>
    </dict>
</plist>
