<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{194,216},{90,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{90,52}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{118,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{118,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{128,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{128,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{132,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{136,70},{94,72}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{94,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{132,144},{94,70}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{94,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{94,70}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{94,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{98,216},{94,68}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{94,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{92,62}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{92,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{92,62}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{92,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01151.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33243e86dcf84951fe1977cbe54779bd:c602cb9f92ed2add4bfb6a98757698d8:cc18df5a5354f9c1cc6148cc6aa403aa$</string>
            <key>textureFileName</key>
            <string>01151.png</string>
        </dict>
    </dict>
</plist>
