<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{438,298},{212,124}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,62},{212,124}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{216,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,61},{216,126}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{220,176},{216,164}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{216,164}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,188}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,188}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{216,188}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,188}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,172}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{216,172}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{216,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{216,146}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{438,150},{216,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{216,146}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{212,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{212,148}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{656,152},{212,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{212,148}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{212,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,38},{212,148}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{220,342},{210,146}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{210,146}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{564,302},{208,142}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,42},{208,142}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{708,302},{172,126}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{172,126}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{870,216},{152,100}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,68},{152,100}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01169.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9352359d3be80ee37df58cbd65eadf74:0b83f5dd0153cabfc7a73880d562d974:7c3b31f30bb724b9fb8fba6c9fbef22e$</string>
            <key>textureFileName</key>
            <string>01169.png</string>
        </dict>
    </dict>
</plist>
