<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{134,826},{142,114}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,52},{142,114}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{144,132}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{144,132}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{150,412},{146,132}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{146,132}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{148,132}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{148,132}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{152,278},{148,132}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{148,132}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{306,140},{150,134}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{150,134}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,136}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{150,136}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{150,136}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{150,136}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{150,136}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{150,136}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{150,136}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{150,136}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,136}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{152,136}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{306,276},{150,134}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{150,134}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{298,412},{144,134}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{144,134}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{146,134}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{146,134}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{150,546},{144,134}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{144,134}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{136,682},{140,134}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{140,134}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{296,548},{142,132}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{142,132}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{142,132}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,34},{142,132}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{142,130}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{142,130}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{250,824},{140,130}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{140,130}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01177.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b58301b2026717e3f069d3050c44dc3c:0b3b02e70c353a66257b5169f0d70d95:b4716d0ea42b0aad61375b84a6a3aefe$</string>
            <key>textureFileName</key>
            <string>01177.png</string>
        </dict>
    </dict>
</plist>
