<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{60,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{66,30},{60,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{60,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{66,58},{60,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{60,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{66,114},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{94,114},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{66,178},{62,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{60,26}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{60,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01188.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:155b395c47ec3d101e8925e4725f8260:397e609a45470d28b27036edc06a7fce:31ecb1a4ff78a0310dd9dba529bf566f$</string>
            <key>textureFileName</key>
            <string>01188.png</string>
        </dict>
    </dict>
</plist>
