<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{90,92}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{90,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,104}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{100,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{98,116}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{98,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{94,102}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{94,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{48,14}}</string>
                <key>offset</key>
                <string>{-40,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{48,14}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01256.png</string>
            <key>size</key>
            <string>{438,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b96c109c926c85ff73ebe95d1bb9680:65b1b9cae3d099262910b4d9db16add8:9cdd84479bbe800b113ed73f91d3c564$</string>
            <key>textureFileName</key>
            <string>01256.png</string>
        </dict>
    </dict>
</plist>
