<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{438,188},{68,164}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{68,164}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{184,386},{80,180}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{80,180}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{82,180}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{82,180}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{356,188},{80,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{80,188}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{80,196}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{80,196}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{268,184},{86,190}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{86,190}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{182,192},{84,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{84,192}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{210,96},{86,194}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{86,194}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{92,194}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{92,194}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,194}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{96,194}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,194}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{102,194}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,188}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{102,188}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{102,184}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{102,184}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{438,354},{58,144}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{58,144}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{366,378},{58,80}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,49},{58,80}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{106,192},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,109.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01354.png</string>
            <key>size</key>
            <string>{510,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93b8456f998e0323c88c4fd226c6ca5:bf7d557cafbd57f8c9e45cc859ee682d:a6987e4f9020bec257f981878bda87ef$</string>
            <key>textureFileName</key>
            <string>01354.png</string>
        </dict>
    </dict>
</plist>
