<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{26,32}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{26,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{30,30}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,26}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{32,26}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{36,70},{30,26}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{30,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{34,102},{28,22}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{28,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{24,20}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{24,20}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{32,16}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{32,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{32,14}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{32,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{34,126},{28,6}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{28,6}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{30,10}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{30,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{24,160},{18,16}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{18,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{42,156},{18,16}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{18,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{22,24}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{22,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{34,134},{20,26}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{20,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01366.png</string>
            <key>size</key>
            <string>{64,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8190878f378a0bcdf70d1a62a8d8de4:f524c6f1c43a98ab49effa6137af47d2:46aa16b8b7d2d1bf115c048d2d343223$</string>
            <key>textureFileName</key>
            <string>01366.png</string>
        </dict>
    </dict>
</plist>
