<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{166,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{166,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{162,162}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{164,164}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{164,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{164,164}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{164,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{158,162}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{158,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{142,164}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{142,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{146,164}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{146,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{146,164}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{146,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{144,164}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{144,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01374.png</string>
            <key>size</key>
            <string>{1776,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9b0ab313c4a2defd4ecdcd02992398:819e8b15501d4c94a7563539d4887044:0276e1c40037aa8ad8d5d8deae494f65$</string>
            <key>textureFileName</key>
            <string>01374.png</string>
        </dict>
    </dict>
</plist>
