<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,210}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{218,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{218,210}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{218,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{216,144}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,107},{216,144}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{216,138}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,114},{216,138}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{216,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,113},{216,138}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{210,112}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{210,112}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{202,112}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,114},{202,112}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{182,110}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,114},{182,110}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{114,1324},{170,92}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,132},{170,92}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{142,660},{154,66}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,157},{154,66}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01391.png</string>
            <key>size</key>
            <string>{214,1508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf722f48da77d8d865ae11cf85d691e0:1769cef1d4970db23e3d7690813e066c:d470df796a696536ddfc60ef440e37ed$</string>
            <key>textureFileName</key>
            <string>01391.png</string>
        </dict>
    </dict>
</plist>
