<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{162,212}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,3},{162,212}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{176,212}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,3},{176,212}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{182,212}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,2},{182,212}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,212}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{186,212}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{184,206}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,8},{184,206}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{154,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,29},{154,186}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{146,168}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,47},{146,168}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{144,162}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,48},{144,162}}</string>
                <key>sourceSize</key>
                <string>{290,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01464.png</string>
            <key>size</key>
            <string>{1516,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d84abb97ace5a762f68c807aaa4a9ab:3cfe90c79ee49a35261b910e43ea3449:3a95f07c875006eeb9341bce6ed51730$</string>
            <key>textureFileName</key>
            <string>01464.png</string>
        </dict>
    </dict>
</plist>
