<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,258}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{258,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{200,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{200,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{154,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,78},{154,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{154,106}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,102},{154,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{386,276},{158,94}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,115},{158,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{446,110},{164,96}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,114},{164,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{188,472},{170,96}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,114},{170,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{382,372},{170,96}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,113},{170,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{204,370},{176,100}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,111},{176,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{204,264},{180,104}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,110},{180,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{182,110}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,109},{182,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{184,110}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,110},{184,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{360,472},{106,88}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,110},{106,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{468,470},{106,88}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,110},{106,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01481.png</string>
            <key>size</key>
            <string>{576,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac70026fcb57598ed4569731fb3ad09:1565e9632a794baa7b01949d5a3cb1ad:65443131971924ac1221d6c08161974b$</string>
            <key>textureFileName</key>
            <string>01481.png</string>
        </dict>
    </dict>
</plist>
