<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{172,290},{48,64}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{48,64}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{258,262},{90,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{90,148}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{92,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{92,154}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{98,164}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{98,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{98,164}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{98,164}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{98,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{98,164}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{258,168},{92,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{92,154}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{102,196},{92,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{92,154}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{64,102}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{64,102}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{106,290},{64,98}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{64,98}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{350,262},{62,70}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{62,70}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{350,334},{60,64}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{60,64}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{172,340},{56,54}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{56,54}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{54,36}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,60},{54,36}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{368,58},{36,34}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{36,34}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01493.png</string>
            <key>size</key>
            <string>{414,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a5c703e30a3276091c6fe25831a25d3:8e2d69978def2ce2964e94bf9d523e6e:8500f6313010f3fab931114d3cb04274$</string>
            <key>textureFileName</key>
            <string>01493.png</string>
        </dict>
    </dict>
</plist>
