<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{142,74},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{282,74},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{138,70}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,96},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{142,146},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{282,146},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{422,142},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{142,218},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{282,218},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{142,290},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{282,290},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{422,282},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{138,70}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{142,362},{138,70}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00020</key>
            <dict>
                <key>frame</key>
                <string>{{282,362},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00021</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{138,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{138,70}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01537.png</string>
            <key>size</key>
            <string>{494,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e63afceb94704fb5c60a5f04b56fcd:2033b6c8a3cc92cabad9b9ec7d90aaeb:dcbb1564f8b738491b76a63ab9f68022$</string>
            <key>textureFileName</key>
            <string>01537.png</string>
        </dict>
    </dict>
</plist>
