<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{58,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{54,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01530.png</string>
            <key>size</key>
            <string>{480,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca4d4af77cb94562e419e016ec91345:87f9eff6f4349d86e218aca6783f990d:124b0c07a7ac0c574084bcdb656f966d$</string>
            <key>textureFileName</key>
            <string>01530.png</string>
        </dict>
    </dict>
</plist>
