<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{88,40}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,42}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,118},{88,42}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{90,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,120},{90,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,42}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,118},{90,42}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{90,38}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,122},{90,38}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{88,38}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,122},{88,38}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,121},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{88,40}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{88,40}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,40}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01556.png</string>
            <key>size</key>
            <string>{1448,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb9e9b9586f9be032a344e5c58832ab:1e2a4f23c42b733dd40a6caf025d959b:ce044b9753a3355f245f82093072f2b0$</string>
            <key>textureFileName</key>
            <string>01556.png</string>
        </dict>
    </dict>
</plist>
