<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{92,1696},{56,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{56,68}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,182}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{158,182}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{144,166}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,52},{144,166}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{108,112}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,70},{108,112}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{88,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{88,88}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{158,186},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,109.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{158,186},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,109.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{158,186},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,109.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{100,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{100,88}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{146,108}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,61},{146,108}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{198,154}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{198,154}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{184,146}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,42},{184,146}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{182,144}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{182,144}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{182,142}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,45},{182,142}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{166,130}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,50},{166,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{126,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,54},{126,108}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{116,1496},{44,82}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,54},{44,82}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{116,1580},{42,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,82},{42,54}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{116,1580},{42,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,82},{42,54}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{116,1580},{42,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,82},{42,54}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01558.png</string>
            <key>size</key>
            <string>{162,1786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:240b7fe2ef990a1d3ff1aaa7f04c1bb8:a82d51f3a346970f3e702a27ab93b9f3:21bd4a0666080a95e38bc10f2f5800eb$</string>
            <key>textureFileName</key>
            <string>01558.png</string>
        </dict>
    </dict>
</plist>
