<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{592,206},{354,152}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,135},{354,152}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{940,408},{358,166}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,120},{358,166}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{210,222},{356,176}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,109},{356,176}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{1438,188},{354,180}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,105},{354,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{360,184}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,101},{360,184}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{360,196}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{360,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{360,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{358,202}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,85},{358,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{746,200},{346,192}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,95},{346,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{388,206},{342,202}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,85},{342,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{1300,370},{344,188}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{344,188}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{350,194}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,93},{350,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{940,210},{342,196}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,90},{342,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{350,206}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{350,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{1646,370},{346,184}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,102},{346,184}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{356,206}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,81},{356,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01582.png</string>
            <key>size</key>
            <string>{1996,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd7019ae8a96a588016389dae213b36:99e15bb817a6a85867f54b74cbfd1f3b:2c009dc820727a1537a73d790160669b$</string>
            <key>textureFileName</key>
            <string>01582.png</string>
        </dict>
    </dict>
</plist>
