<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{258,288}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{258,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{248,288}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{248,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{534,256},{238,286}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,62},{238,286}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{252,584},{244,288}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,60},{244,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{252,284}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,64},{252,284}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{498,496},{258,276}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{258,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,290}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{264,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,274}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{264,274}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{762,760},{256,256}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{256,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{498,774},{262,244}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,104},{262,244}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{758,496},{262,258}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,88},{262,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{178,162}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,149},{178,162}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{822,166},{164,156}}</string>
                <key>offset</key>
                <string>{-24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,150},{164,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01597.png</string>
            <key>size</key>
            <string>{1020,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72abae8b7c29d862489ea7f97666ff36:eecb6244ebbd7e083f9a51947d3f775a:839b6efb6455536eebca14f3d1bafa4c$</string>
            <key>textureFileName</key>
            <string>01597.png</string>
        </dict>
    </dict>
</plist>
