<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{272,282}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,92},{272,282}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{722,346},{270,298}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{270,298}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{686,646},{276,306}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,64},{276,306}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{358,602},{278,326}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,43},{278,326}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{280,308}}</string>
                <key>offset</key>
                <string>{-32,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,57},{280,308}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,304}}</string>
                <key>offset</key>
                <string>{39,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,64},{362,304}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{362,296}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{362,296}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{354,298}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{354,298}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{366,300},{354,300}}</string>
                <key>offset</key>
                <string>{-26,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,69},{354,300}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{342,262}}</string>
                <key>offset</key>
                <string>{-32,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,96},{342,262}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{284,882},{306,248}}</string>
                <key>offset</key>
                <string>{-32,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,100},{306,248}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{534,924},{210,238}}</string>
                <key>offset</key>
                <string>{-17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,91},{210,238}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{746,924},{204,222}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,107},{204,222}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01600.png</string>
            <key>size</key>
            <string>{994,1222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09773da78437b58c96ae9829200de6d2:8f38a5314a297c497bfdfb12b101cafa:a98339ca5e04ec19edbe1562e008e672$</string>
            <key>textureFileName</key>
            <string>01600.png</string>
        </dict>
    </dict>
</plist>
