<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,156}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{168,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,156}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{168,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,156}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{168,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{168,164}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{168,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{172,160},{168,164}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{168,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{342,160},{168,164}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{168,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{168,166}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{342,494},{168,168}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,16},{168,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{172,326},{168,166}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{342,326},{168,166}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{168,166}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{172,494},{168,166}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{208,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{208,184}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{206,850},{220,188}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{220,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{212,664},{208,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{208,184}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{202,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{202,184}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01616.png</string>
            <key>size</key>
            <string>{512,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:116e6903adb69e64d1431a63dcd619fe:6e60242bc8a513c450e1b5f51e303c70:fa67249130b44cc8e69d5016a7fcad53$</string>
            <key>textureFileName</key>
            <string>01616.png</string>
        </dict>
    </dict>
</plist>
