<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{88,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{86,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{86,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{84,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{84,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{84,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{84,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{84,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{84,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{86,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{86,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{88,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{88,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{86,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{86,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{88,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{88,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{88,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{88,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{88,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{90,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{90,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{90,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{90,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01621.png</string>
            <key>size</key>
            <string>{1356,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278c24d5478f3d60d95559aa1cbb0543:3566c82814e3f3432fefa970a3318d1c:fe2322ea1c3ab654283d48d78cf7f19d$</string>
            <key>textureFileName</key>
            <string>01621.png</string>
        </dict>
    </dict>
</plist>
