<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{150,78}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{150,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{126,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,28},{126,70}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{152,70}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,28},{152,70}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{156,160},{152,70}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,28},{152,70}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{154,70}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{154,70}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{154,74}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,24},{154,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{158,314},{156,72}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,26},{156,72}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{156,68}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,30},{156,68}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{156,68}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,31},{156,68}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,66}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{158,66}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01632.png</string>
            <key>size</key>
            <string>{232,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c0a0609c523bb7263e61b5f003f0cfa:5f8ce01285f7a96cac101bb52a451e60:4c47fb9c9c851fe79fb717c96850c448$</string>
            <key>textureFileName</key>
            <string>01632.png</string>
        </dict>
    </dict>
</plist>
