<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{114,108}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{114,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{154,146}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{154,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,144}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{156,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{296,118},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{60,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01693.png</string>
            <key>size</key>
            <string>{406,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e5b01b259766026894a6b8faf458d1:54a49a055faa02c958f16827553d0b8c:ed68a69cd7a640f38b9448c5adfb652a$</string>
            <key>textureFileName</key>
            <string>01693.png</string>
        </dict>
    </dict>
</plist>
