<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{76,92}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,124},{76,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{70,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,104},{70,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{64,140},{62,132}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,93},{62,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{60,136}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,85},{60,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,136}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,78},{76,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{128,134},{84,128}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,75},{84,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{190,264},{84,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,119},{84,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{270,80},{78,118}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,99},{78,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{64,126}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,93},{64,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{48,130}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,86},{48,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{214,134},{54,126}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,85},{54,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{196,70},{44,62}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,141},{44,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,66}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,129},{58,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{126,274},{62,74}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,126},{62,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{270,200},{54,72}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,124},{54,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01708.png</string>
            <key>size</key>
            <string>{350,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213ba933cbb1167df743b20f59b632b3:5c85522db87bda6c49bb9ed438b7f057:eca0b82f9033404829f145ccff54448b$</string>
            <key>textureFileName</key>
            <string>01708.png</string>
        </dict>
    </dict>
</plist>
