<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{144,204}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,3},{144,204}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{148,204}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{148,204}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{148,204}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,3},{148,204}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{156,190}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{156,190}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,206}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{156,206}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,206}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{152,206}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{150,196}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,13},{150,196}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{152,202}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{152,202}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01704.png</string>
            <key>size</key>
            <string>{1224,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4278cd29f13024f2f4791e3051ceba37:40ae73741724ee380f74fda20b3e768f:a2cb92b8fb32ee8b5d98d904740e115f$</string>
            <key>textureFileName</key>
            <string>01704.png</string>
        </dict>
    </dict>
</plist>
