<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{254,182},{30,20}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,66},{30,20}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{466,142},{48,30}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,60},{48,30}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{464,82},{58,36}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{58,36}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{204,182},{72,48}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,54},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{408,152},{78,56}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,49},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{374,84},{88,66}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{88,66}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{204,86},{94,74}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,43},{94,74}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{104,168},{98,78}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{96,80}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{100,82}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{100,82}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{104,86},{98,80}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{98,80}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{98,80}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{98,80}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{92,78}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{92,78}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{280,84},{92,76}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{92,76}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{280,162},{92,64}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,48},{92,64}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{346,162},{92,60}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,49},{92,60}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02002.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be4953f5dbd4920ab4ee7acb4cc3fc0:24d8f3fbf6c64a781818402885d11595:bb650dc0d1386f90ea11893d90c136aa$</string>
            <key>textureFileName</key>
            <string>02002.png</string>
        </dict>
    </dict>
</plist>
