<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{98,213}}</string>
                <key>offset</key>
                <string>{0,168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,11},{98,213}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{146,500},{98,213}}</string>
                <key>offset</key>
                <string>{6,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,63},{98,213}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,389}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,90},{96,389}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{142,277}}</string>
                <key>offset</key>
                <string>{-3,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,272},{142,277}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{100,169},{164,217}}</string>
                <key>offset</key>
                <string>{4,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,334},{164,217}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{333,784},{170,171}}</string>
                <key>offset</key>
                <string>{5,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,382},{170,171}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{155,784},{176,169}}</string>
                <key>offset</key>
                <string>{6,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,386},{176,169}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{319,161},{180,171}}</string>
                <key>offset</key>
                <string>{6,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,384},{180,171}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{146,335},{186,163}}</string>
                <key>offset</key>
                <string>{6,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,392},{186,163}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{188,165}}</string>
                <key>offset</key>
                <string>{5,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,390},{188,165}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{190,157}}</string>
                <key>offset</key>
                <string>{4,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,398},{190,157}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{217,600},{182,149}}</string>
                <key>offset</key>
                <string>{1,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,404},{182,149}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{180,151}}</string>
                <key>offset</key>
                <string>{-1,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,402},{180,151}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{334,334},{170,151}}</string>
                <key>offset</key>
                <string>{-4,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,402},{170,151}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{368,487},{170,141}}</string>
                <key>offset</key>
                <string>{-5,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,412},{170,141}}</string>
                <key>sourceSize</key>
                <string>{538,571}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02019.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52711efcd3174fe60afab9195c25292a:dac50b6bbb7887f84431c37919e74fd7:e9aa0be08450666d1285255e43e9c56c$</string>
            <key>textureFileName</key>
            <string>02019.png</string>
        </dict>
    </dict>
</plist>
