<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{452,534},{142,176}}</string>
                <key>offset</key>
                <string>{3,276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,61},{142,176}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{308,534},{142,216}}</string>
                <key>offset</key>
                <string>{3,219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,98},{142,216}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{316,264},{268,304}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,240},{268,304}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{622,512},{284,246}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,300},{284,246}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{306,762},{296,246}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,301},{296,246}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{304,248}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,299},{304,248}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{312,252}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,295},{312,252}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,254}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,293},{322,254}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{312,260}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,287},{312,260}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{310,256}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,290},{310,256}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{640,260},{310,250}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,296},{310,250}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{302,246}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,298},{302,246}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{604,760},{278,234}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,302},{278,234}}</string>
                <key>sourceSize</key>
                <string>{850,850}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>03024.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a7a0b7ce8263b0192d931e5e1810049:4ba80af3f21f6850e6755dbad11f790e:363731c25614dcf96cd204084ecc2d42$</string>
            <key>textureFileName</key>
            <string>03024.png</string>
        </dict>
    </dict>
</plist>
