<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{312,726},{76,122}}</string>
                <key>offset</key>
                <string>{-1,227}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{76,206}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,115},{76,206}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{164,354},{76,254}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,163},{76,254}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{160,172}}</string>
                <key>offset</key>
                <string>{2,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,296},{160,172}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{242,176},{228,152}}</string>
                <key>offset</key>
                <string>{6,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,335},{228,152}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{304,822},{206,136}}</string>
                <key>offset</key>
                <string>{-2,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,340},{206,136}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{234,152}}</string>
                <key>offset</key>
                <string>{-4,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,334},{234,152}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{240,160}}</string>
                <key>offset</key>
                <string>{-3,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,329},{240,160}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{242,166}}</string>
                <key>offset</key>
                <string>{0,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,323},{242,166}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,172}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,319},{244,172}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{238,176}}</string>
                <key>offset</key>
                <string>{4,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,317},{238,176}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{156,610},{210,154}}</string>
                <key>offset</key>
                <string>{-8,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,327},{210,154}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{164,822},{194,138}}</string>
                <key>offset</key>
                <string>{0,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,344},{194,138}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{312,590},{178,134}}</string>
                <key>offset</key>
                <string>{3,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,349},{178,134}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{242,406},{182,134}}</string>
                <key>offset</key>
                <string>{3,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,350},{182,134}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{378,406},{182,132}}</string>
                <key>offset</key>
                <string>{5,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,352},{182,132}}</string>
                <key>sourceSize</key>
                <string>{432,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>03023.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74ccc4ac8fab69e30f5dce5db776ab50:84d3dc12e696351df7f4e380d61563d3:cd15622d47a40a02874663fe543192b0$</string>
            <key>textureFileName</key>
            <string>03023.png</string>
        </dict>
    </dict>
</plist>
