<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{486,400},{234,196}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{234,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{246,202},{238,198}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{238,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{238,402},{232,196}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{232,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{472,598},{230,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{230,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{244,198}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{244,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,200}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{242,200}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{492,200},{240,198}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{240,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{244,196}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{244,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{238,196}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{238,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{234,196}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{234,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{734,398},{232,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{232,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{670,796},{224,198}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{224,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{200,600},{222,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{222,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{224,196}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{224,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{224,196}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{224,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{670,598},{230,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{230,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{734,200},{238,196}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{238,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{246,196}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{246,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06003.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5920ee6288a1fda523cf86b9cec3968e:659faf88012124093ce59c2a1fbad97e:16b29318e5e47414e779d8c6a5a0a99b$</string>
            <key>textureFileName</key>
            <string>06003.png</string>
        </dict>
    </dict>
</plist>
