<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{448,280},{74,48}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,199},{74,48}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{412,598},{80,88}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,169},{80,88}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{282,642},{82,126}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,144},{82,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{284,280},{80,162}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,111},{80,162}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{284,196},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,92},{82,182}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{284,100},{94,196}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,81},{94,196}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{96,208}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,68},{96,208}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{412,362},{92,234}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,42},{92,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{236,868},{106,238}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,36},{106,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{122,750},{112,254}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,21},{112,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{118,262}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,13},{118,262}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{236,750},{116,274}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,0},{116,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{120,278}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{120,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{284,362},{126,278}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{126,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{116,278}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,0},{116,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{124,280}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,0},{124,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{126,280}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,0},{126,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,280}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{138,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{112,278}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,0},{112,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06010.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a9e76b63c71aa726ee6feee704b1bf:260bdb3acae96ac2402ee5ac34333581:c45d4d48322d3fc8a69eb6c47a6d11a7$</string>
            <key>textureFileName</key>
            <string>06010.png</string>
        </dict>
    </dict>
</plist>
