<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{86,1972},{74,82}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,64},{74,82}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{124,1600},{62,86}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,63},{62,86}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{86,1858},{90,112}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,64},{90,112}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{82,126}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,53},{82,126}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{120,126}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{120,126}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{120,128}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{120,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{154,148}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{154,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{150,148}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{150,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{150,150}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{150,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{152,150}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{152,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{156,150}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{156,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{158,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{158,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{170,170}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{170,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,174}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{174,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{172,170}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{172,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{168,168}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{168,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06014.png</string>
            <key>size</key>
            <string>{188,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:369900befd396c393ac5b058341e9bcc:800b9f22808708fec08eb53138ac6fbd:234f3bfdd4065182d663f1af86ec3e41$</string>
            <key>textureFileName</key>
            <string>06014.png</string>
        </dict>
    </dict>
</plist>
