<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,74}}</string>
                <key>offset</key>
                <string>{-14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,131},{106,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{104,74}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,131},{104,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,76}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{104,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{104,74}}</string>
                <key>offset</key>
                <string>{-14,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,132},{104,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{108,80},{104,74}}</string>
                <key>offset</key>
                <string>{-13,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,132},{104,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{108,156},{104,74}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,131},{104,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06020.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f9759b21f0c1e91d85f5888fdc1e01a:91f45d2e1e68ca732835e6f81eaac3e9:df612d1bdeaab856f3bf0bd98952b5b6$</string>
            <key>textureFileName</key>
            <string>06020.png</string>
        </dict>
    </dict>
</plist>
