<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{112,96}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,94},{112,96}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{388,172},{120,116}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,75},{120,116}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{336,358},{126,136}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,56},{126,136}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{136,168}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{136,168}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{138,206},{136,182}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{136,182}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,202}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{138,202}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{134,200}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{134,200}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,202}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{132,202}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{138,390},{120,196}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{120,196}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{276,172},{110,184}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{110,184}}</string>
                <key>sourceSize</key>
                <string>{172,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06038.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad23b7769f6b87a48d7b1f47bd8571f:a5c5374d9443db5a1b6ee423e0ebac93:6aa8348414682dbabc7275da2b55260b$</string>
            <key>textureFileName</key>
            <string>06038.png</string>
        </dict>
    </dict>
</plist>
