<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{394,454},{94,160}}</string>
                <key>offset</key>
                <string>{0,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,61},{94,160}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{394,286},{94,166}}</string>
                <key>offset</key>
                <string>{-1,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,124},{94,166}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{394,100},{96,184}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,176},{96,184}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{96,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,210},{96,218}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,254}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,232},{96,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{170,804},{192,164}}</string>
                <key>offset</key>
                <string>{-1,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,371},{192,164}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{192,166}}</string>
                <key>offset</key>
                <string>{-1,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,368},{192,166}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{194,166}}</string>
                <key>offset</key>
                <string>{-1,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,368},{194,166}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{194,172}}</string>
                <key>offset</key>
                <string>{-1,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,362},{194,172}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{194,176}}</string>
                <key>offset</key>
                <string>{-1,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,358},{194,176}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{198,460},{194,176}}</string>
                <key>offset</key>
                <string>{0,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,358},{194,176}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{198,100},{194,178}}</string>
                <key>offset</key>
                <string>{-1,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,357},{194,178}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{194,182}}</string>
                <key>offset</key>
                <string>{-1,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,353},{194,182}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{198,280},{194,178}}</string>
                <key>offset</key>
                <string>{-1,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,356},{194,178}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{336,638},{190,170}}</string>
                <key>offset</key>
                <string>{-2,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,364},{190,170}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{336,830},{190,122}}</string>
                <key>offset</key>
                <string>{-3,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,412},{190,122}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06043.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7f5401f56ffe60c554b1021df030ffc:443f77613e9d34f6ddf0568f9bf6d656:0d139eaa6a9b4f9532f850b51150cb8e$</string>
            <key>textureFileName</key>
            <string>06043.png</string>
        </dict>
    </dict>
</plist>
