<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{326,176},{118,78}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,172},{118,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{446,136},{118,70}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,175},{118,70}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{204,176},{120,78}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,169},{120,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{790,160},{112,90}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,152},{112,90}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{114,124}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,107},{114,124}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{560,128},{106,126}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{668,148},{104,120}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,95},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{152,132}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,132}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,182}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,172}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,172}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{88,132}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,52},{88,132}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{820,92},{66,130}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,62},{66,130}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{68,126}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{68,126}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{952,92},{66,130}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{66,130}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{676,80},{66,142}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,60},{66,142}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{76,158}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,55},{76,158}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06102.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60b7964dd3dca98a560a9c4ad12e4f2:fb6bc5e83c82cb02ea1d5af0a740c355:e5d586342c5f7620ae4a48d86e5e58ae$</string>
            <key>textureFileName</key>
            <string>06102.png</string>
        </dict>
    </dict>
</plist>
