<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{404,446},{148,102}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{148,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{246,174}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,65},{246,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,178}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{252,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{232,318},{208,126}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,103},{208,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{228,138}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,98},{228,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00020</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{228,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,100},{228,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00021</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{204,94}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,111},{204,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00022</key>
            <dict>
                <key>frame</key>
                <string>{{204,446},{198,94}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,111},{198,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00023</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{200,94}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,111},{200,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00024</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{198,94}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,111},{198,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>00025</key>
            <dict>
                <key>frame</key>
                <string>{{202,542},{198,94}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,111},{198,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06103.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d9036d9005a8de56ffa33042681afa6:53f886057f36825600125bb3cc30104f:3a31ae23ef123acea1c68fa63abf72d4$</string>
            <key>textureFileName</key>
            <string>06103.png</string>
        </dict>
    </dict>
</plist>
