<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{164,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,105},{164,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{164,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,105},{164,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{164,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{164,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{268,102},{164,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{164,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,98}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,105},{166,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,98}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,105},{166,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,98}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,105},{166,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{164,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,105},{164,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{158,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,109},{158,94}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{298,202},{156,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,109},{156,94}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{268,362},{158,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{158,94}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{394,202},{154,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,111},{154,92}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{102,368},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,118},{140,84}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{188,368},{130,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,124},{130,78}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>08009.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a13d4f3fec5901fb8f2da5fed33892:fb7deac580fce788161fb27531de3f34:5d9a262675591a3780fba9fa30a715ae$</string>
            <key>textureFileName</key>
            <string>08009.png</string>
        </dict>
    </dict>
</plist>
