<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{48,488},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{148,416},{98,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,132},{98,52}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{48,426},{98,60}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,125},{98,60}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{98,164}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,57},{98,164}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,220}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,18},{98,220}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{98,196}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,5},{98,196}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{98,200}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,0},{98,200}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,176}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,8},{98,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{248,102},{98,152}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,18},{98,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{402,102},{98,146}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,20},{98,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{102,280},{98,134}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,29},{98,134}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{248,202},{98,126}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,34},{98,126}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{44,84}}</string>
                <key>offset</key>
                <string>{2,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,28},{44,84}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{48,488},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>08004.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:470e53ed909990c2d6f9c2da3a272147:71bb3be9e223674088accc78906ce14b:b76d1ccf5ab30773797ef2558f5ea1d3$</string>
            <key>textureFileName</key>
            <string>08004.png</string>
        </dict>
    </dict>
</plist>
