<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{562,162},{72,102}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{72,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{78,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{78,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{424,164},{86,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,39},{86,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{778,106},{106,144}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,26},{106,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{666,106},{110,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{110,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{110,158}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{110,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{110,164}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,12},{110,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{110,160}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{110,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{120,112},{112,162}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,14},{112,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,166}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{110,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{108,168}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,7},{108,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{102,168}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,5},{102,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{94,154}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,7},{94,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{284,168},{86,138}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{86,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{886,98},{76,92}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,36},{76,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>08043.png</string>
            <key>size</key>
            <string>{970,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09c6bb0414af0af0fb17d4722907d15:95701997e9f8401f551a481851a8da1b:25c7241d9a4814cf37e362e00f13e909$</string>
            <key>textureFileName</key>
            <string>08043.png</string>
        </dict>
    </dict>
</plist>
