<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{64,48},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{64,94},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{48,140},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{64,202},{44,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{44,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>08247.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af5af43062c1eb4f9c78b00722164549:8122203655b6d7114c90e3863fb0a9dc:426f75b91c9ce127f16e1d98cfbd0aca$</string>
            <key>textureFileName</key>
            <string>08247.png</string>
        </dict>
    </dict>
</plist>
