<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{1504,888},{434,364}}</string>
                <key>offset</key>
                <string>{44,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,336},{434,364}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1266},{338,378}}</string>
                <key>offset</key>
                <string>{20,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,325},{338,378}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{964,1266},{322,396}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,308},{322,396}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{352,414}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,300},{352,414}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{536,378}}</string>
                <key>offset</key>
                <string>{79,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,332},{536,378}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{536,400}}</string>
                <key>offset</key>
                <string>{80,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,300},{536,400}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{498,412}}</string>
                <key>offset</key>
                <string>{76,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,288},{498,412}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{540,1202},{422,396}}</string>
                <key>offset</key>
                <string>{36,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,308},{422,396}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{314,410}}</string>
                <key>offset</key>
                <string>{-18,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,311},{314,410}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{1572,418},{468,406}}</string>
                <key>offset</key>
                <string>{-62,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,297},{468,406}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{1088,416},{482,404}}</string>
                <key>offset</key>
                <string>{-86,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,297},{482,404}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{1052,822},{450,442}}</string>
                <key>offset</key>
                <string>{-81,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,259},{450,442}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{592,456}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,243},{592,456}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,460}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,246},{596,460}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{600,404},{486,404}}</string>
                <key>offset</key>
                <string>{68,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,305},{486,404}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{596,810},{454,390}}</string>
                <key>offset</key>
                <string>{80,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,318},{454,390}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1992,1618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00f785ef4c4bd0d031e14c3a9a6f336a:d6c3abbc1fb834a3830f7afc26e7db75:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
