<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1168},{452,376}}</string>
                <key>offset</key>
                <string>{-58,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,329},{452,376}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{786,1158},{444,390}}</string>
                <key>offset</key>
                <string>{-26,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,331},{444,390}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{786,746},{410,460}}</string>
                <key>offset</key>
                <string>{21,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,351},{410,460}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{1406,728},{512,438}}</string>
                <key>offset</key>
                <string>{10,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,311},{512,438}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{742,686}}</string>
                <key>offset</key>
                <string>{-39,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,159},{742,686}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{782,704}}</string>
                <key>offset</key>
                <string>{-39,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,147},{782,704}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{790,714}}</string>
                <key>offset</key>
                <string>{-39,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,144},{790,714}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{724,614}}</string>
                <key>offset</key>
                <string>{-13,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,250},{724,614}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cast.png</string>
            <key>size</key>
            <string>{2042,1550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9394fae68f700c22efbb8e6c424df9:c80b249d808e8266b74a68f552499951:d03238ae1020ade0492eb7d04c29871f$</string>
            <key>textureFileName</key>
            <string>cast.png</string>
        </dict>
    </dict>
</plist>
