<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>211.png</string>
            <key>size</key>
            <string>{78,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:226ff2e1f652c29b51cb04a780f62af7:69c9820a7d785f7a27f1845c7560b405:ba6f5364d5d4eb255687c8f66ee09449$</string>
            <key>textureFileName</key>
            <string>211.png</string>
        </dict>
    </dict>
</plist>
