<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{34,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>244.png</string>
            <key>size</key>
            <string>{76,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00c361a0d836416ecfe2626808427426:111fddf43ebcc86db3f1429f62702a8e:187664b6ba81a714ae211f753c1b0c18$</string>
            <key>textureFileName</key>
            <string>244.png</string>
        </dict>
    </dict>
</plist>
