<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>25m.png</string>
            <key>size</key>
            <string>{54,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0281a36ee4602a78a18c1448c30982ff:943569dfd8df18656d65372e8481f21c:8160aa96c9593e6d81009bcbf89da3d5$</string>
            <key>textureFileName</key>
            <string>25m.png</string>
        </dict>
    </dict>
</plist>
