<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{38,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{36,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{34,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{34,40}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>266.png</string>
            <key>size</key>
            <string>{232,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52054a5d28353e7b277c2d22208b491:f3a9983effb80f09827d5b61ab7c33fa:2e1f1e2437a2df4113514760e6f875fe$</string>
            <key>textureFileName</key>
            <string>266.png</string>
        </dict>
    </dict>
</plist>
