<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{48,30},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>29f.png</string>
            <key>size</key>
            <string>{94,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f13c1c596f2b476e9e6a24e147e691:6e5bf8d3460239dd4d27d83e20f56d84:70d4219a32b3b718b82d7b9edb6aa676$</string>
            <key>textureFileName</key>
            <string>29f.png</string>
        </dict>
    </dict>
</plist>
