<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>44m.png</string>
            <key>size</key>
            <string>{68,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:399418ee4627f3fcba7bbbe8c30bc6d9:25c3e11fe4d120e3e1dec89532ed17a0:45f6d4c08474fc8b1014c51797791bae$</string>
            <key>textureFileName</key>
            <string>44m.png</string>
        </dict>
    </dict>
</plist>
