<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{31,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{31,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>45m.png</string>
            <key>size</key>
            <string>{134,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e51c7d27985652f02d1157a6a7b031:bef89fef74c7976024d91e44c2eaa158:f7eaef7d4caf0a7bade32dc8c8c8ad6c$</string>
            <key>textureFileName</key>
            <string>45m.png</string>
        </dict>
    </dict>
</plist>
