<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{44,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>56f.png</string>
            <key>size</key>
            <string>{66,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f9788715656c98bfc572d3f77fa19f:1588dd0f237435d70273f77718332aff:5ad9df45d231314c08c862a378afe5e2$</string>
            <key>textureFileName</key>
            <string>56f.png</string>
        </dict>
    </dict>
</plist>
