<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>59f.png</string>
            <key>size</key>
            <string>{272,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:313da1babc24632b9b9b0175e76af43b:103e7d1e039fc802cc126d06f75fb19d:1ec2874ecb6733f758f1dee4fd943525$</string>
            <key>textureFileName</key>
            <string>59f.png</string>
        </dict>
    </dict>
</plist>
