<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64f.png</string>
            <key>size</key>
            <string>{94,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a99d5541f0fba2ae7161f7b98b6e2337:fde26fc96ddc8f36c20e5480c136696e:062596683cae72a669891af6e852d646$</string>
            <key>textureFileName</key>
            <string>64f.png</string>
        </dict>
    </dict>
</plist>
