<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>68f.png</string>
            <key>size</key>
            <string>{94,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7d625047994edb262c9260df2e5a864:f4b31fd667d0e65e9cd989a8d8f5ee35:92bb00eccfc3945d816efc4cfe318c43$</string>
            <key>textureFileName</key>
            <string>68f.png</string>
        </dict>
    </dict>
</plist>
