<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{44,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>71f.png</string>
            <key>size</key>
            <string>{72,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a25dc7e9cc8f6b7a8392bf6f0c1d49a:8f32e1021ff2cfa45892550136e4ce8f:576a9b88163f4e321b672c88cc5bc613$</string>
            <key>textureFileName</key>
            <string>71f.png</string>
        </dict>
    </dict>
</plist>
