<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>76m.png</string>
            <key>size</key>
            <string>{40,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:702061ffc825b2a278d0246aed062de8:96f4f1f756f7af2aca96e942fdb52c58:2641cb521eead39f7ba18441fd9a50fa$</string>
            <key>textureFileName</key>
            <string>76m.png</string>
        </dict>
    </dict>
</plist>
