<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{48,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{48,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{40,17}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{40,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{40,17}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{40,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{40,17}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{40,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{50,42},{46,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{50,42},{46,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,17}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{46,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{46,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{52,21},{38,15}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,15}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{52,21},{38,15}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,15}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{52,21},{38,15}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,15}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{52,21},{38,15}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,15}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>90.png</string>
            <key>size</key>
            <string>{98,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b0be3d2fa24bcd13e15a266d75954c4:4e8a4199a2f21006ee2dc5187eac222e:c9752ab5aa7b9398f663e912f9289b01$</string>
            <key>textureFileName</key>
            <string>90.png</string>
        </dict>
    </dict>
</plist>
