<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{102,96}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,85},{102,96}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{98,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{98,96}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{100,104}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,73},{100,104}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,114}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,72},{112,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{108,118}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,73},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{108,130}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,74},{108,130}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{104,118}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,79},{104,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{100,104}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,84},{100,104}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{116,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3063b4e4eabd019068cf9b651cb17f05:6c271a853dab19722febf0a4a38b35e4:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
