<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{144,106}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,54},{144,106}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{136,94}}</string>
                <key>offset</key>
                <string>{45,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,55},{136,94}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{570,98},{130,92}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,75},{130,92}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{664,134},{130,90}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,72},{130,90}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{424,130},{144,108}}</string>
                <key>offset</key>
                <string>{42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,49},{144,108}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{148,140},{142,110}}</string>
                <key>offset</key>
                <string>{54,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,48},{142,110}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{136,132}}</string>
                <key>offset</key>
                <string>{47,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,96},{136,132}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{130,130}}</string>
                <key>offset</key>
                <string>{54,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,97},{130,130}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{138,126}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,77},{138,126}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{292,130},{130,122}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,74},{130,122}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,132}}</string>
                <key>offset</key>
                <string>{44,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,97},{144,132}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{132,126}}</string>
                <key>offset</key>
                <string>{53,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,107},{132,126}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{814,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a9dcf88130e74ec0be99696a7902e7:e8d199ed832529ae6cab3e43011872b8:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
