<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,88}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,113},{62,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,88}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,113},{62,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,113},{60,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,113},{60,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{60,88}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,113},{60,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{60,88}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,113},{60,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,88}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,113},{62,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,88}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,113},{62,88}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{46,96}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,108},{46,96}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{606,50},{44,96}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{44,96}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{704,50},{44,96}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{44,96}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{506,50},{44,98}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,106},{44,98}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{46,100}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,104},{46,100}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{46,98}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,106},{46,98}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{46,98}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,106},{46,98}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{46,96}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{46,96}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1004,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01dbd559c06a5f430ec70d11e2edcef8:41b78e6f88550b1b979a4acc1fc3a3e2:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
