<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{1526,98},{136,134}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,67},{136,134}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{136,132}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{136,132}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{1388,102},{136,138}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{136,138}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{130,142}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,76},{130,142}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{1244,124},{128,142}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,78},{128,142}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{130,144}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,74},{130,144}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{146,138}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,80},{146,138}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{146,132}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,87},{146,132}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{148,136}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,85},{148,136}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{150,140}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,82},{150,140}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,144}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,80},{152,144}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,73},{152,152}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{146,94}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{146,94}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{334,154},{148,98}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,88},{148,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{148,98}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,89},{148,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{1662,136},{144,100}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,86},{144,100}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{484,150},{144,102}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{144,102}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{1094,134},{148,104}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{148,104}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{166,96}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,96},{166,96}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{162,96}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,97},{162,96}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{630,140},{158,108}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{158,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{790,136},{148,116}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,87},{148,116}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{152,120}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{152,120}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{940,134},{152,118}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{152,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1818,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f7abf2a13642e91f7a32e2ddf277c4:83eddfb36ed0c7408bab35d8a3a90dfb:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
