<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{132,3},{150,166}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,196},{150,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{132,3},{150,166}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,196},{150,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,3},{128,168}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,172},{128,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,3},{128,168}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,172},{128,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parry.png</string>
            <key>size</key>
            <string>{284,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:201db73069943300ccb7e2df2eb6d2cd:0d2f61213836a77c7e580662404f8d0a:25faeef54b43c2a3a9386d8709b4fceb$</string>
            <key>textureFileName</key>
            <string>parry.png</string>
        </dict>
    </dict>
</plist>
