<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,114}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,85},{142,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,114}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,85},{142,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{106,152}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,53},{106,152}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{106,152}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,53},{106,152}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defense.png</string>
            <key>size</key>
            <string>{300,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ada37f4ed1135f335ddf875e30085804:c85f9848eb85b581ed34c225bc179582:9dd8d929761850648aef7d28659a40d7$</string>
            <key>textureFileName</key>
            <string>defense.png</string>
        </dict>
    </dict>
</plist>
