<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back01_corner01</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{78,398}}</string>
                <key>offset</key>
                <string>{-39,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,420},{78,398}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_corner12</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{78,382}}</string>
                <key>offset</key>
                <string>{-39,-207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,436},{78,382}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_downright01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_left01</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_left10</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_left11</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_leftdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{74,382}}</string>
                <key>offset</key>
                <string>{-37,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,419},{74,382}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_leftdown01</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_leftlight01</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>back01_rightdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{74,400}}</string>
                <key>offset</key>
                <string>{-37,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,418},{74,400}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_01</key>
            <dict>
                <key>frame</key>
                <string>{{1432,620},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_02</key>
            <dict>
                <key>frame</key>
                <string>{{1506,602},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_03</key>
            <dict>
                <key>frame</key>
                <string>{{1580,602},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_04</key>
            <dict>
                <key>frame</key>
                <string>{{1654,590},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_05</key>
            <dict>
                <key>frame</key>
                <string>{{1714,344},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_10</key>
            <dict>
                <key>frame</key>
                <string>{{1788,320},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_11</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,384},{142,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>floor01_12</key>
            <dict>
                <key>frame</key>
                <string>{{1242,256},{112,72}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,384},{112,72}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_corner01</key>
            <dict>
                <key>frame</key>
                <string>{{1254,730},{34,28}}</string>
                <key>offset</key>
                <string>{-53,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,401},{34,28}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down01</key>
            <dict>
                <key>frame</key>
                <string>{{1952,408},{88,54}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,402},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down02</key>
            <dict>
                <key>frame</key>
                <string>{{1952,464},{88,54}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,402},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down03</key>
            <dict>
                <key>frame</key>
                <string>{{1862,476},{88,54}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,402},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down04</key>
            <dict>
                <key>frame</key>
                <string>{{1952,520},{88,54}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,402},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down05</key>
            <dict>
                <key>frame</key>
                <string>{{1862,532},{88,54}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,402},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down10</key>
            <dict>
                <key>frame</key>
                <string>{{1284,730},{32,24}}</string>
                <key>offset</key>
                <string>{-55,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,402},{32,24}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down11</key>
            <dict>
                <key>frame</key>
                <string>{{1310,730},{26,22}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,434},{26,22}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down21</key>
            <dict>
                <key>frame</key>
                <string>{{1830,228},{88,66}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,390},{88,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down22</key>
            <dict>
                <key>frame</key>
                <string>{{1862,340},{88,66}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,390},{88,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down23</key>
            <dict>
                <key>frame</key>
                <string>{{1952,576},{88,54}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,402},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down33</key>
            <dict>
                <key>frame</key>
                <string>{{1174,256},{116,66}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,390},{116,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down32</key>
            <dict>
                <key>frame</key>
                <string>{{1162,642},{118,90}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,366},{118,90}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_down31</key>
            <dict>
                <key>frame</key>
                <string>{{1740,228},{88,90}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,366},{88,90}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_leftdown01</key>
            <dict>
                <key>frame</key>
                <string>{{1898,228},{142,54}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,402},{142,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_leftdown31</key>
            <dict>
                <key>frame</key>
                <string>{{874,644},{142,122}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,334},{142,122}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_rightdown01</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{88,82}}</string>
                <key>offset</key>
                <string>{27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,374},{88,82}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_rightdown12</key>
            <dict>
                <key>frame</key>
                <string>{{180,682},{32,82}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,374},{32,82}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_rightdown31</key>
            <dict>
                <key>frame</key>
                <string>{{1018,644},{142,122}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,334},{142,122}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up01</key>
            <dict>
                <key>frame</key>
                <string>{{1794,538},{88,54}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,375},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up02</key>
            <dict>
                <key>frame</key>
                <string>{{1728,582},{88,54}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,375},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up03</key>
            <dict>
                <key>frame</key>
                <string>{{1728,672},{88,54}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,375},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up04</key>
            <dict>
                <key>frame</key>
                <string>{{1850,588},{88,54}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,375},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up05</key>
            <dict>
                <key>frame</key>
                <string>{{1784,628},{88,54}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,375},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up21</key>
            <dict>
                <key>frame</key>
                <string>{{1952,340},{88,66}}</string>
                <key>offset</key>
                <string>{-27,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,363},{88,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up22</key>
            <dict>
                <key>frame</key>
                <string>{{1862,408},{88,66}}</string>
                <key>offset</key>
                <string>{-27,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,363},{88,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up23</key>
            <dict>
                <key>frame</key>
                <string>{{1940,632},{88,54}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,375},{88,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up31</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{88,90}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,339},{88,90}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up32</key>
            <dict>
                <key>frame</key>
                <string>{{670,662},{104,108}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,339},{104,108}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_up33</key>
            <dict>
                <key>frame</key>
                <string>{{1254,626},{96,102}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,339},{96,102}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_upright01</key>
            <dict>
                <key>frame</key>
                <string>{{1898,284},{142,54}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,375},{142,54}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>rwall01_upright31</key>
            <dict>
                <key>frame</key>
                <string>{{1030,262},{142,122}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,334},{142,122}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_corner01</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{50,224}}</string>
                <key>offset</key>
                <string>{-55,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,205},{50,224}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_corner02</key>
            <dict>
                <key>frame</key>
                <string>{{1982,148},{48,68}}</string>
                <key>offset</key>
                <string>{-54,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,361},{48,68}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_leftdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{358,680},{86,234}}</string>
                <key>offset</key>
                <string>{25,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,222},{86,234}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_leftdoor02</key>
            <dict>
                <key>frame</key>
                <string>{{1840,156},{70,66}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,390},{70,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_leftdown01</key>
            <dict>
                <key>frame</key>
                <string>{{1304,370},{142,248}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,208},{142,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_leftdown02</key>
            <dict>
                <key>frame</key>
                <string>{{1862,76},{142,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,386},{142,70}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_rightdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{1636,348},{76,240}}</string>
                <key>offset</key>
                <string>{33,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,205},{76,240}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_rightdoor02</key>
            <dict>
                <key>frame</key>
                <string>{{1914,688},{74,68}}</string>
                <key>offset</key>
                <string>{34,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,377},{74,68}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_rightdown01</key>
            <dict>
                <key>frame</key>
                <string>{{734,386},{90,274}}</string>
                <key>offset</key>
                <string>{26,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,182},{90,274}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_rightdown02</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{90,274}}</string>
                <key>offset</key>
                <string>{26,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,182},{90,274}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_rightdown03</key>
            <dict>
                <key>frame</key>
                <string>{{1648,250},{90,92}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,364},{90,92}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_up01</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{88,246}}</string>
                <key>offset</key>
                <string>{27,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,210},{88,246}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_up02</key>
            <dict>
                <key>frame</key>
                <string>{{1766,92},{90,62}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,394},{90,62}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall01_upright01</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{144,248}}</string>
                <key>offset</key>
                <string>{-1,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,181},{144,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_corner01</key>
            <dict>
                <key>frame</key>
                <string>{{970,386},{50,256}}</string>
                <key>offset</key>
                <string>{-54,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,173},{50,256}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_corner02</key>
            <dict>
                <key>frame</key>
                <string>{{1794,464},{72,66}}</string>
                <key>offset</key>
                <string>{-55,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,363},{72,66}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_leftdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{108,264}}</string>
                <key>offset</key>
                <string>{31,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,192},{108,264}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_leftdoor02</key>
            <dict>
                <key>frame</key>
                <string>{{1908,148},{72,74}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,382},{72,74}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_leftdown01</key>
            <dict>
                <key>frame</key>
                <string>{{826,386},{142,256}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,200},{142,256}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_leftdown02</key>
            <dict>
                <key>frame</key>
                <string>{{1352,620},{142,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,378},{142,78}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_rightdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{1022,386},{92,254}}</string>
                <key>offset</key>
                <string>{45,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,191},{92,254}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_rightdoor02</key>
            <dict>
                <key>frame</key>
                <string>{{1766,156},{72,70}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,375},{72,70}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_rightdown01</key>
            <dict>
                <key>frame</key>
                <string>{{156,404},{94,276}}</string>
                <key>offset</key>
                <string>{24,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,180},{94,276}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_rightdown02</key>
            <dict>
                <key>frame</key>
                <string>{{252,404},{92,276}}</string>
                <key>offset</key>
                <string>{25,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,180},{92,276}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_rightdown03</key>
            <dict>
                <key>frame</key>
                <string>{{780,662},{92,104}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,352},{92,104}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_up01</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{96,248}}</string>
                <key>offset</key>
                <string>{23,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,208},{96,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_up02</key>
            <dict>
                <key>frame</key>
                <string>{{1714,488},{92,78}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,378},{92,78}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_up03</key>
            <dict>
                <key>frame</key>
                <string>{{1448,352},{96,248}}</string>
                <key>offset</key>
                <string>{23,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,208},{96,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_up04</key>
            <dict>
                <key>frame</key>
                <string>{{1546,352},{88,248}}</string>
                <key>offset</key>
                <string>{27,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,210},{88,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_up05</key>
            <dict>
                <key>frame</key>
                <string>{{1116,386},{92,254}}</string>
                <key>offset</key>
                <string>{25,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,202},{92,254}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall02_upright01</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{152,278}}</string>
                <key>offset</key>
                <string>{1,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,151},{152,278}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_corner01</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{64,252}}</string>
                <key>offset</key>
                <string>{-54,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,177},{64,252}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_corner02</key>
            <dict>
                <key>frame</key>
                <string>{{1840,688},{72,74}}</string>
                <key>offset</key>
                <string>{-55,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,355},{72,74}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_leftdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{770,278},{106,258}}</string>
                <key>offset</key>
                <string>{18,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,198},{106,258}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_leftdoor02</key>
            <dict>
                <key>frame</key>
                <string>{{92,684},{86,82}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,374},{86,82}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_leftdown01</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{142,252}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,204},{142,252}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_leftdown02</key>
            <dict>
                <key>frame</key>
                <string>{{214,682},{142,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,376},{142,80}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_rightdoor01</key>
            <dict>
                <key>frame</key>
                <string>{{1210,374},{92,250}}</string>
                <key>offset</key>
                <string>{35,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,195},{92,250}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_rightdoor02</key>
            <dict>
                <key>frame</key>
                <string>{{594,680},{86,74}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,371},{86,74}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_rightdown01</key>
            <dict>
                <key>frame</key>
                <string>{{508,404},{126,274}}</string>
                <key>offset</key>
                <string>{8,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,182},{126,274}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_rightdown02</key>
            <dict>
                <key>frame</key>
                <string>{{636,386},{96,274}}</string>
                <key>offset</key>
                <string>{23,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,182},{96,274}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_rightdown03</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{96,258}}</string>
                <key>offset</key>
                <string>{23,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,198},{96,258}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_up01</key>
            <dict>
                <key>frame</key>
                <string>{{1316,252},{98,248}}</string>
                <key>offset</key>
                <string>{22,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,208},{98,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_up02</key>
            <dict>
                <key>frame</key>
                <string>{{1566,252},{94,80}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,376},{94,80}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_up03</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{98,248}}</string>
                <key>offset</key>
                <string>{22,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,208},{98,248}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
            <key>wall03_upright01</key>
            <dict>
                <key>frame</key>
                <string>{{346,404},{160,274}}</string>
                <key>offset</key>
                <string>{-1,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,155},{160,274}}</string>
                <key>sourceSize</key>
                <string>{672,840}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blocks.png</string>
            <key>size</key>
            <string>{2042,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2094f2f18f1858d5ff37c44b3a2f16:1c2f98b540d21af983ecd11a5b5398ea:6879c3dd6674ea1c839ff03f70487b56$</string>
            <key>textureFileName</key>
            <string>blocks.png</string>
        </dict>
    </dict>
</plist>
