<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{210,400},{96,122}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,118},{96,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{300,208},{116,128}}</string>
                <key>offset</key>
                <string>{10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,120},{116,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{784,200},{152,174}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,66},{152,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{592,346},{148,164}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,76},{148,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,214}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,25},{218,214}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{194,204}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,36},{194,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{156,196}}</string>
                <key>offset</key>
                <string>{38,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,44},{156,196}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{334,338},{156,164}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,57},{156,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{758,354},{84,136}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,104},{84,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{500,328},{90,134}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,107},{90,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{88,180}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,54},{88,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{418,206},{120,180}}</string>
                <key>offset</key>
                <string>{-36,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,35},{120,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{206,216}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{206,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{166,208}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,15},{166,208}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{180,202}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,33},{180,202}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{600,170},{182,174}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,49},{182,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{968,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c2d0775d3125cd00705585bca476d8:82249e33c38c600df1363362ea720766:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
