<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{348,876},{110,132}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,90},{110,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{392,168},{104,132}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,96},{104,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{402,988},{98,130}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,98},{98,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{186,890},{102,140}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,96},{102,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{194,472},{148,156}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,87},{148,156}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,168}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,70},{196,168}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{188,162}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,71},{188,162}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,156}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,75},{188,156}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{200,168},{190,150}}</string>
                <key>offset</key>
                <string>{33,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,72},{190,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{188,152}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,72},{188,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{198,320},{160,150}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,75},{160,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{352,472},{144,148}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,77},{144,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{192,994},{116,146}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,70},{116,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{310,994},{90,138}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,71},{90,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{348,758},{116,148}}</string>
                <key>offset</key>
                <string>{-38,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,61},{116,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{192,772},{116,154}}</string>
                <key>offset</key>
                <string>{-38,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,56},{116,154}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{360,320},{144,150}}</string>
                <key>offset</key>
                <string>{-36,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,67},{144,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{190,170}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{190,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{194,170}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,70},{194,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{194,164}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,73},{194,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{182,160}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,74},{182,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{192,622},{154,148}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,75},{154,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{348,622},{154,134}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,76},{154,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{108,138}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,72},{108,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{506,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f0bf80807413298364efafb70e3ca5:301b1ab626bf1974c0d77fadf4ce1b5d:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
