<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{69,87}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{69,87}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{75,89}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{75,89}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,91}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{67,91}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{91,79},{75,85}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{75,85}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{172,174},{73,81}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{73,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{178,89},{73,83}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{73,83}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{87,231},{73,81}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{73,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{85,379},{67,81}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{67,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{87,156},{73,83}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{73,83}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{65,83}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{65,83}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{67,85}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{67,85}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{85,306},{71,81}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{71,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{71,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{71,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{168,324},{69,81}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{69,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{67,81}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{67,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{73,81}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{73,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{77,83}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{77,83}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{170,249},{73,81}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{73,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01051.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e85297e636a43d734ba8435e25dfd9:afc560d27d3326ee4ae2059208f7808a:17dac3e696417a7a6dc3a0c30ca7468c$</string>
            <key>textureFileName</key>
            <string>01051.png</string>
        </dict>
    </dict>
</plist>
