<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{53,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{53,46}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{55,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{55,48}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{55,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,50}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{57,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{57,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{57,48}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{57,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{57,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{57,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{57,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{57,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,50}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{57,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,50}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{55,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{55,48}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{55,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{55,48}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01085.png</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:056a7edfe64186c68edda191fff38af7:918f6213a58701dd511b0b0d7daea723:7c1d2f6367e2aa2d8b740298ef233729$</string>
            <key>textureFileName</key>
            <string>01085.png</string>
        </dict>
    </dict>
</plist>
