<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{250,122},{4,6}}</string>
                <key>offset</key>
                <string>{1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,51},{4,6}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{90,36}}</string>
                <key>offset</key>
                <string>{-34,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,36},{90,36}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{88,370},{96,44}}</string>
                <key>offset</key>
                <string>{-31,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,41},{96,44}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{238,192},{80,12}}</string>
                <key>offset</key>
                <string>{-38,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,46},{80,12}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{134,370},{88,54}}</string>
                <key>offset</key>
                <string>{-35,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{88,54}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{106,298},{94,70}}</string>
                <key>offset</key>
                <string>{-31,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,34},{94,70}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{100,84}}</string>
                <key>offset</key>
                <string>{-27,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,40},{100,84}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{102,100}}</string>
                <key>offset</key>
                <string>{-24,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,45},{102,100}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{108,116}}</string>
                <key>offset</key>
                <string>{-18,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,50},{108,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{120,192},{116,104}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,81},{116,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{120,118}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{120,118}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{120,68}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,90},{120,68}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{124,74}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,95},{124,74}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,78}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,101},{128,78}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{120,158},{6,6}}</string>
                <key>offset</key>
                <string>{81,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,185},{6,6}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{250,130},{6,4}}</string>
                <key>offset</key>
                <string>{90,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,197},{6,4}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01086.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baf173fea169b8434f428a993772e653:5cb65235afbccca5a4c508a6898a012c:f90f2386f9be15629a2dd120834a632e$</string>
            <key>textureFileName</key>
            <string>01086.png</string>
        </dict>
    </dict>
</plist>
