<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{12,10}}</string>
                <key>offset</key>
                <string>{6,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{12,10}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{80,106},{12,12}}</string>
                <key>offset</key>
                <string>{7,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{12,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{18,92},{14,12}}</string>
                <key>offset</key>
                <string>{7,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{34,92},{14,12}}</string>
                <key>offset</key>
                <string>{7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{50,92},{14,12}}</string>
                <key>offset</key>
                <string>{7,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{18,106},{14,12}}</string>
                <key>offset</key>
                <string>{8,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{92,74},{14,14}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{14,14}}</string>
                <key>offset</key>
                <string>{9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,16}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{16,16}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{16,16}}</string>
                <key>offset</key>
                <string>{10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{16,16}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{16,16}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{16,16}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{16,16}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{16,16}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{20,20},{16,16}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{38,20},{16,16}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{56,20},{16,16}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{74,20},{16,16}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00020</key>
            <dict>
                <key>frame</key>
                <string>{{92,20},{16,16}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00021</key>
            <dict>
                <key>frame</key>
                <string>{{110,20},{16,16}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00022</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{16,16}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00023</key>
            <dict>
                <key>frame</key>
                <string>{{20,38},{16,16}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00024</key>
            <dict>
                <key>frame</key>
                <string>{{38,38},{16,16}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00025</key>
            <dict>
                <key>frame</key>
                <string>{{56,38},{16,16}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00026</key>
            <dict>
                <key>frame</key>
                <string>{{74,38},{16,16}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,52},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00027</key>
            <dict>
                <key>frame</key>
                <string>{{92,38},{16,16}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,55},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00028</key>
            <dict>
                <key>frame</key>
                <string>{{110,38},{16,16}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00029</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{16,16}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,61},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00030</key>
            <dict>
                <key>frame</key>
                <string>{{20,56},{16,16}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,64},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00031</key>
            <dict>
                <key>frame</key>
                <string>{{38,56},{16,16}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00032</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{16,16}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,71},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00033</key>
            <dict>
                <key>frame</key>
                <string>{{74,56},{16,16}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,75},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00034</key>
            <dict>
                <key>frame</key>
                <string>{{92,56},{16,16}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,79},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00035</key>
            <dict>
                <key>frame</key>
                <string>{{110,56},{16,16}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,83},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00036</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{16,16}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,87},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00037</key>
            <dict>
                <key>frame</key>
                <string>{{20,74},{16,16}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,91},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00038</key>
            <dict>
                <key>frame</key>
                <string>{{38,74},{16,16}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00039</key>
            <dict>
                <key>frame</key>
                <string>{{56,74},{16,16}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{16,16}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00040</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{16,14}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,105},{16,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00041</key>
            <dict>
                <key>frame</key>
                <string>{{74,90},{14,14}}</string>
                <key>offset</key>
                <string>{-12,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,110},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00042</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{14,14}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,114},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00043</key>
            <dict>
                <key>frame</key>
                <string>{{106,90},{14,14}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,118},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00044</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{14,14}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,122},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00045</key>
            <dict>
                <key>frame</key>
                <string>{{34,106},{14,12}}</string>
                <key>offset</key>
                <string>{-12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,127},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00046</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{14,12}}</string>
                <key>offset</key>
                <string>{-12,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,131},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00047</key>
            <dict>
                <key>frame</key>
                <string>{{94,106},{12,12}}</string>
                <key>offset</key>
                <string>{-12,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,135},{12,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00048</key>
            <dict>
                <key>frame</key>
                <string>{{108,106},{12,12}}</string>
                <key>offset</key>
                <string>{-12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,140},{12,12}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>00049</key>
            <dict>
                <key>frame</key>
                <string>{{122,90},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01371.png</string>
            <key>size</key>
            <string>{128,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64ed346574e3c49556555f08ddb1e97e:9bc405ba146f324f1c3ad1e9d2371af7:44d2c40491813f0f8df898450bd19fa3$</string>
            <key>textureFileName</key>
            <string>01371.png</string>
        </dict>
    </dict>
</plist>
