<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{46,62},{1,1}}</string>
                <key>offset</key>
                <string>{-31.5,31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{24,64},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{2,2}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{54,48},{6,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{6,6}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{8,10}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{8,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{30,44},{10,10}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{30,56},{10,10}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{10,10}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{42,14},{10,10}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{10,12}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{10,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{42,26},{10,10}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{42,38},{10,10}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,12}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{12,12}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{12,12}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{12,12}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,12}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{16,16},{12,12}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{16,30},{12,12}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{30,16},{10,12}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{10,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{10,12}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{10,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00020</key>
            <dict>
                <key>frame</key>
                <string>{{16,44},{12,12}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00021</key>
            <dict>
                <key>frame</key>
                <string>{{42,50},{10,10}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00022</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{10,10}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00023</key>
            <dict>
                <key>frame</key>
                <string>{{54,14},{10,10}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00024</key>
            <dict>
                <key>frame</key>
                <string>{{14,58},{8,8}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{8,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00025</key>
            <dict>
                <key>frame</key>
                <string>{{54,26},{10,10}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{10,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00026</key>
            <dict>
                <key>frame</key>
                <string>{{54,38},{8,8}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{8,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00027</key>
            <dict>
                <key>frame</key>
                <string>{{24,58},{4,4}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{4,4}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00028</key>
            <dict>
                <key>frame</key>
                <string>{{42,62},{2,2}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{2,2}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>00029</key>
            <dict>
                <key>frame</key>
                <string>{{46,62},{1,1}}</string>
                <key>offset</key>
                <string>{-31.5,31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01412.png</string>
            <key>size</key>
            <string>{68,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91afc1b3587a905a260666791cb67870:e933ed682013f3ed546bd49671637926:1184d65a8698e943cd56c5bf95d66607$</string>
            <key>textureFileName</key>
            <string>01412.png</string>
        </dict>
    </dict>
</plist>
