<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{126,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{126,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{126,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{126,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{126,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{126,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{126,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{126,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{126,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01430.png</string>
            <key>size</key>
            <string>{1538,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a3b0fe8d88d8ceb334312654a61100:53a62da457111e9b73df5769995cb805:06b6d9faae3edabde4e67830ac59f974$</string>
            <key>textureFileName</key>
            <string>01430.png</string>
        </dict>
    </dict>
</plist>
