<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,84}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{68,84}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{88,74},{72,82}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{72,82}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{262,74},{74,86}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{74,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{88,148},{74,86}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{176,150},{74,88}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{70,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{70,78}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{70,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{70,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{266,150},{74,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{74,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{186,226},{76,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{76,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{78,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00010</key>
            <dict>
                <key>frame</key>
                <string>{{192,304},{80,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00011</key>
            <dict>
                <key>frame</key>
                <string>{{278,226},{76,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{76,92}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00012</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{76,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00013</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{74,94}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{74,94}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00014</key>
            <dict>
                <key>frame</key>
                <string>{{98,226},{74,86}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{74,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00015</key>
            <dict>
                <key>frame</key>
                <string>{{282,304},{80,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00016</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{70,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{70,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00017</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{70,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{70,84}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00018</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{76,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,84}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>00019</key>
            <dict>
                <key>frame</key>
                <string>{{172,74},{72,88}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{72,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01499.png</string>
            <key>size</key>
            <string>{386,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e2b70bbb9cbd636f6b91135dd2869b:9c018540bd03bbc5c945723dd3354494:e49d7c7666f59d871c0992144cfcc8a8$</string>
            <key>textureFileName</key>
            <string>01499.png</string>
        </dict>
    </dict>
</plist>
