<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,28}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,125},{26,28}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00001</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{24,28}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,124},{24,28}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00002</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{24,26}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{24,26}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00003</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{24,26}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{24,26}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00004</key>
            <dict>
                <key>frame</key>
                <string>{{28,92},{26,26}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,126},{26,26}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00005</key>
            <dict>
                <key>frame</key>
                <string>{{30,58},{26,24}}</string>
                <key>offset</key>
                <string>{-36,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,128},{26,24}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00006</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{26,26}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{26,26}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00007</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{26,26}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{26,26}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00008</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{26,28}}</string>
                <key>offset</key>
                <string>{-35,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,124},{26,28}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>00009</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{26,28}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,124},{26,28}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>34000.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d3554d022a0ba3b0f446d19e97dc71f:ca8f69e025bedd1c6fe7917fd3f1a428:b85417085c95da93db265392b48334a7$</string>
            <key>textureFileName</key>
            <string>34000.png</string>
        </dict>
    </dict>
</plist>
