<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,74}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,107},{76,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,74}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,107},{76,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{62,110}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,79},{62,110}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{62,110}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,79},{62,110}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defense.png</string>
            <key>size</key>
            <string>{192,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b3bedbc83f96f07a5b8b5aaf2d39acd:2de876c46e1a96335100a1f4701e93af:9dd8d929761850648aef7d28659a40d7$</string>
            <key>textureFileName</key>
            <string>defense.png</string>
        </dict>
    </dict>
</plist>
