<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{1060,380},{282,340}}</string>
                <key>offset</key>
                <string>{-33,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,260},{282,340}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{980,1070},{282,346}}</string>
                <key>offset</key>
                <string>{-36,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,261},{282,346}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{326,284},{276,360}}</string>
                <key>offset</key>
                <string>{-41,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,255},{276,360}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{278,366}}</string>
                <key>offset</key>
                <string>{-44,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,259},{278,366}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{270,376}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,257},{270,376}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{270,378}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,259},{270,378}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{280,380}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,259},{280,380}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{708,274},{288,350}}</string>
                <key>offset</key>
                <string>{-41,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,258},{288,350}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{668,856},{310,344}}</string>
                <key>offset</key>
                <string>{-25,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,218},{310,344}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{674,564},{290,350}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,216},{290,350}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{320,562},{290,352}}</string>
                <key>offset</key>
                <string>{-26,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,213},{290,352}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{370,854},{296,352}}</string>
                <key>offset</key>
                <string>{-26,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,210},{296,352}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{308,352}}</string>
                <key>offset</key>
                <string>{-29,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,210},{308,352}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{316,358}}</string>
                <key>offset</key>
                <string>{-30,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,204},{316,358}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,362}}</string>
                <key>offset</key>
                <string>{-32,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,200},{322,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{1026,722},{308,346}}</string>
                <key>offset</key>
                <string>{-24,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,216},{308,346}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1360,1360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24c9bb0ff65880c7f494cc40bd443bda:db74a8e9f411337a6a6865bbd56d9696:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
