<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChongYImage/ChongYIco00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{90,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{90,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ChongYImage/ChongYIco00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{84,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ChongYImage/ChongYIco00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{86,92}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{86,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ChongYImage/ChongYImg00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ChongYImage/ChongYImg00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,42},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ChongYImage/ChongYImg00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,82},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ChongYImage/ChongYImg00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,96},{60,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>ChongYImage/ChongYImg00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,96},{60,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>ChongYImage/ChongYMask00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{116,138}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChongYImage.png</string>
            <key>size</key>
            <string>{447,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0386c8b45b73de4a34953350e552ec2:4d001375f7f73a034b35d167f418d1d8:821232735070a81fca207af2b2f91cab$</string>
            <key>textureFileName</key>
            <string>ChongYImage.png</string>
        </dict>
    </dict>
</plist>
