<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CockFightImage/BigCockImage00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{220,320}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,320}}</string>
                <key>sourceSize</key>
                <string>{220,326}</string>
            </dict>
            <key>CockFightImage/BigCockImage00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{220,320}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,320}}</string>
                <key>sourceSize</key>
                <string>{220,326}</string>
            </dict>
            <key>CockFightImage/BigCockImage00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{220,320}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,320}}</string>
                <key>sourceSize</key>
                <string>{220,326}</string>
            </dict>
            <key>CockFightImage/BigCockImage00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{220,320}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,320}}</string>
                <key>sourceSize</key>
                <string>{220,326}</string>
            </dict>
            <key>CockFightImage/BigCockImage00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{220,320}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,320}}</string>
                <key>sourceSize</key>
                <string>{220,326}</string>
            </dict>
            <key>CockFightImage/CockAvatarImage00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,324},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>CockFightImage/CockAvatarImage00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,326},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>CockFightImage/CockAvatarImage00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,228},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>CockFightImage/CockAvatarImage00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,324},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>CockFightImage/CockAvatarImage00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,198},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>CockFightImage/CockFightImage00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{170,194}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{170,194}}</string>
                <key>sourceSize</key>
                <string>{208,224}</string>
            </dict>
            <key>CockFightImage/CockFightImage00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{208,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,224}}</string>
                <key>sourceSize</key>
                <string>{208,224}</string>
            </dict>
            <key>CockFightImage/CockFightImage00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,324},{128,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,240}}</string>
                <key>sourceSize</key>
                <string>{128,240}</string>
            </dict>
            <key>CockFightImage/CockFightImage00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,410},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CockFightImage/CockFightImage00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,422},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,30}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>CockFightImage/CockFightImage00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{410,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{410,68}}</string>
                <key>sourceSize</key>
                <string>{416,72}</string>
            </dict>
            <key>CockFightImage/CockFightImage00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,406},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>CockFightImage/CockFightImage00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,388},{74,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,62}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>CockFightImage/CockFightImage00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,324},{80,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>CockFightImage/CockFightImage00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>CockFightImage/CockFightImage00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,326},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>CockFightImage/SmallCockImage00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,324},{176,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,96}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>CockFightImage/SmallCockImage00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,324},{176,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,96}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>CockFightImage/SmallCockImage00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,324},{176,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,96}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>CockFightImage/SmallCockImage00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,324},{176,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,96}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>CockFightImage/SmallCockImage00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,228},{176,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,96}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CockFightImage.png</string>
            <key>size</key>
            <string>{2008,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0d491cde2f046fcaa8a5064cbcd619:63ea37da23c834ae843d7e3c56525d91:7a0a6a86abac7adab2d0ca6f16bb6f33$</string>
            <key>textureFileName</key>
            <string>CockFightImage.png</string>
        </dict>
    </dict>
</plist>
