<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoverTogether/LoverTogetherImage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>LoverTogether/LoverTogetherImage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,846},{44,38}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,38}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>LoverTogether/LoverTogetherImage03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,875},{240,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,10}}</string>
                <key>sourceSize</key>
                <string>{240,10}</string>
            </dict>
            <key>LoverTogether/LoverTogetherImage04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{842,522}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{842,522}}</string>
                <key>sourceSize</key>
                <string>{888,552}</string>
            </dict>
            <key>LoverTogether/LoverTogetherImage05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,846},{77,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{77,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoverTogether.png</string>
            <key>size</key>
            <string>{526,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e2cd50e3c8ae800c318b777f2f524a:554b606a0bbb901242ceba756cc79c53:3056dc9c02f1a4babe38b9463b012ff0$</string>
            <key>textureFileName</key>
            <string>LoverTogether.png</string>
        </dict>
    </dict>
</plist>
