<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MiaoYGuidelines/MiaoYGuidelines01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,202}}</string>
                <key>sourceSize</key>
                <string>{168,202}</string>
            </dict>
            <key>MiaoYGuidelines/MiaoYGuidelines02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,202}}</string>
                <key>sourceSize</key>
                <string>{168,202}</string>
            </dict>
            <key>MiaoYGuidelines/MiaoYGuidelines03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,202}}</string>
                <key>sourceSize</key>
                <string>{168,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MiaoYGuidelines.png</string>
            <key>size</key>
            <string>{512,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de3189a043b8cf876226e03875d4ba50:54a0f087998498a8504a75b70655ddc0:b83c38b03e40255696937719b37df086$</string>
            <key>textureFileName</key>
            <string>MiaoYGuidelines.png</string>
        </dict>
    </dict>
</plist>
