<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyDlg/Button0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,168},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>PartyDlg/Button0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,193},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>PartyDlg/Button0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,193},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>PartyDlg/Button0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,215},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>PartyDlg/Button0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,61},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PartyDlg/Button0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,149},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>PartyDlg/Frame0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,215},{187,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,30}}</string>
                <key>sourceSize</key>
                <string>{187,30}</string>
            </dict>
            <key>PartyDlg/Icon0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,203},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>PartyDlg/Icon0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,205},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>PartyDlg/Icon0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,205},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>PartyDlg/Icon0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,215},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>PartyDlg/Icon0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,61},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PartyDlg/Icon0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,127},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PartyDlg/Icon0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,127},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PartyDlg/Icon0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,149},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PartyDlg/Icon0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,214},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>PartyDlg/Icon0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,215},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>PartyDlg/Icon0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,215},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>PartyDlg/Icon0542.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,149},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PartyDlg/Icon0550.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,135},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>PartyDlg/Icon0552.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,135},{208,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,78}}</string>
                <key>sourceSize</key>
                <string>{208,78}</string>
            </dict>
            <key>PartyDlg/Icon0553.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,348}}</string>
                <key>sourceSize</key>
                <string>{244,348}</string>
            </dict>
            <key>PartyDlg/Icon0638.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,16},{45,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,188}}</string>
                <key>sourceSize</key>
                <string>{45,188}</string>
            </dict>
            <key>PartyDlg/Icon0661.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>PartyDlg/Icon1185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,36},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>PartyDlg/Icon1192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,2},{20,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,57}}</string>
                <key>sourceSize</key>
                <string>{20,57}</string>
            </dict>
            <key>PartyDlg/Icon1226.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,63},{191,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,84}}</string>
                <key>sourceSize</key>
                <string>{191,84}</string>
            </dict>
            <key>PartyDlg/Icon1371.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,16},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>PartyDlg/Icon1374.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,135},{118,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{118,90}</string>
            </dict>
            <key>PartyDlg/Icon1375.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,121},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>PartyDlg/ProgressBar0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,239},{68,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,5}}</string>
                <key>sourceSize</key>
                <string>{68,5}</string>
            </dict>
            <key>PartyDlg/ProgressBar0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,121},{68,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,12}}</string>
                <key>sourceSize</key>
                <string>{68,12}</string>
            </dict>
            <key>PartyDlg/ProgressBar0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,121},{280,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,12}}</string>
                <key>sourceSize</key>
                <string>{280,12}</string>
            </dict>
            <key>PartyDlg/ProgressBar0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{280,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,12}}</string>
                <key>sourceSize</key>
                <string>{280,12}</string>
            </dict>
            <key>PartyDlg/TextField0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,215},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>PartyDlg/Title0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{393,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,70}}</string>
                <key>sourceSize</key>
                <string>{393,70}</string>
            </dict>
            <key>PartyDlg/Title0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,74},{412,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,45}}</string>
                <key>sourceSize</key>
                <string>{412,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PartyDlg.png</string>
            <key>size</key>
            <string>{1091,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acf639eb37900a5bcf74a007bfb237e6:c5aa30673b9a957111c8819ffa8ce3f8:7b8d85e15722769fcdcc5ed749f4d4d0$</string>
            <key>textureFileName</key>
            <string>PartyDlg.png</string>
        </dict>
    </dict>
</plist>
