<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetLanternImage/LanternBackgroundImage001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1108,628}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1108,628}}</string>
                <key>sourceSize</key>
                <string>{1142,640}</string>
            </dict>
            <key>PetLanternImage/LanternBackgroundImage002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,774},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PetLanternImage/LanternBackgroundImage003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{526,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,94}}</string>
                <key>sourceSize</key>
                <string>{526,94}</string>
            </dict>
            <key>PetLanternImage/LanternImage001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,818},{158,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>PetLanternImage/LanternImage002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,844},{158,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>PetLanternImage/LanternImage003.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,632},{280,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,52}}</string>
                <key>sourceSize</key>
                <string>{280,52}</string>
            </dict>
            <key>PetLanternImage/LanternImage004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,686},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>PetLanternImage/LanternImage005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,770},{162,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,46}}</string>
                <key>sourceSize</key>
                <string>{164,48}</string>
            </dict>
            <key>PetLanternImage/LanternImage006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,646},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>PetLanternImage/LanternImage007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,690},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>PetLanternImage/LanternImage008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,784},{64,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>PetLanternImage/LanternImage009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,784},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PetLanternImage/LanternImage010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,616},{62,26}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>PetLanternImage/LanternImage011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{384,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,40}}</string>
                <key>sourceSize</key>
                <string>{384,40}</string>
            </dict>
            <key>PetLanternImage/LanternImage012.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,686},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,40}}</string>
                <key>sourceSize</key>
                <string>{108,46}</string>
            </dict>
            <key>PetLanternImage/LanternImage013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,754},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>PetLanternImage/LanternImage014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{222,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,88}}</string>
                <key>sourceSize</key>
                <string>{222,88}</string>
            </dict>
            <key>PetLanternImage/LanternImage015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,828},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>PetLanternImage/LanternImage016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,754},{112,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,22}}</string>
                <key>sourceSize</key>
                <string>{112,22}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,418},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,632},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,616},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,616},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,418},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,562},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon203.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,728},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon204.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,736},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,418},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,646},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,646},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon304.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,736},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,418},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,690},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,690},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMaterialIcon404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,562},{126,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{126,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PetLanternImage/LanternMoneyIcon001.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,782},{84,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{84,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{144,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,40},{144,208}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage104.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,782},{84,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage201.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1466,356},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,356},{144,204}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,41},{144,204}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,774},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,212},{144,204}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,41},{144,204}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,356},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,356},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,774},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage401.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,632},{148,204}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,41},{148,204}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{258,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{258,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>PetLanternImage/LanternPortraitImage404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,770},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetLanternImage.png</string>
            <key>size</key>
            <string>{2048,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6384af9396eca9bbecf13acdb145c619:60ac3cab4d8d220f4dff7bf9d0666985:28e32e873bfed861137e0edb8ae01453$</string>
            <key>textureFileName</key>
            <string>PetLanternImage.png</string>
        </dict>
    </dict>
</plist>
