<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PushPullDlg/PushPullDlg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,44},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,128},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,44},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,128},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,128},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,44},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{40,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,410}}</string>
                <key>sourceSize</key>
                <string>{40,410}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,238}}</string>
                <key>sourceSize</key>
                <string>{580,238}</string>
            </dict>
            <key>PushPullDlg/PushPullDlg0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{580,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,238}}</string>
                <key>sourceSize</key>
                <string>{580,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PushPullDlg.png</string>
            <key>size</key>
            <string>{1578,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bf26758efba6301c3d054cc691c92a:209d56a2947d5229961933d4c36b98a3:7ce8fe504dd96be87366b4f1f928887b$</string>
            <key>textureFileName</key>
            <string>PushPullDlg.png</string>
        </dict>
    </dict>
</plist>
