<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ServiceCelebration/CelebrationImg00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{186,250}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{186,250}}</string>
                <key>sourceSize</key>
                <string>{186,290}</string>
            </dict>
            <key>ServiceCelebration/CelebrationImg00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{186,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,290}}</string>
                <key>sourceSize</key>
                <string>{186,290}</string>
            </dict>
            <key>ServiceCelebration/CelebrationImg00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{186,258}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{186,258}}</string>
                <key>sourceSize</key>
                <string>{186,290}</string>
            </dict>
            <key>ServiceCelebration/CelebrationImg00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{186,266}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{186,266}}</string>
                <key>sourceSize</key>
                <string>{186,306}</string>
            </dict>
            <key>ServiceCelebration/CelebrationImg00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,306}}</string>
                <key>sourceSize</key>
                <string>{186,306}</string>
            </dict>
            <key>ServiceCelebration/CelebrationImg00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{186,266}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{186,266}}</string>
                <key>sourceSize</key>
                <string>{186,306}</string>
            </dict>
            <key>ServiceCelebration/CelebrationImg00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{174,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ServiceCelebration.png</string>
            <key>size</key>
            <string>{190,1826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32b9a513830d5f7036a6863516b463ec:176fbe38dcf3649c71b631684dc60a77:d3cf24d4eb658b864078bf743ea9065f$</string>
            <key>textureFileName</key>
            <string>ServiceCelebration.png</string>
        </dict>
    </dict>
</plist>
