<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SkillText0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,58},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,68},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,86},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{100,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{102,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,68},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,58},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{78,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{76,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{76,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,72},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{102,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,30},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{78,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,30},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,32},{100,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,62},{100,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,30},{98,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{98,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,98},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,98},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,86},{78,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,31}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>SkillText0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,86},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,31}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>SkillText0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,32},{66,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{64,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,62},{64,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,32},{64,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{64,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,62},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,92},{64,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SkillText0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SkillText0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SkillText0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SkillText0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SkillText0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SkillText0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,58},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,68}}</string>
                <key>sourceSize</key>
                <string>{242,68}</string>
            </dict>
            <key>SkillText0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,72},{102,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,98},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,86},{100,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,30},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,90},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>SkillText0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,90},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>SkillText0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,58},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{66,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{100,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{76,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{76,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,92},{100,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,32},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{64,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,68},{102,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>SkillText0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,62},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>SkillText0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,68},{102,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skilltext.png</string>
            <key>size</key>
            <string>{1383,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:319c8d8b23171c4698727ab856a00e13:291fd7b8d26d65bef5e95dbb31622a6e:169219c02eac92eb6c895b3000a5cceb$</string>
            <key>textureFileName</key>
            <string>skilltext.png</string>
        </dict>
    </dict>
</plist>
