<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TianGMainInterface/Icon3208.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,968},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TianGMainInterface/Icon3209.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1046},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TianGMainInterface/ProgressBar001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1054},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,22}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>TianGMainInterface/ProgressBar002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1008},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TianGMainInterface/ProgressBar004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1054},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>TianGMainInterface/ProgressBar005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,968},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TianGMainInterface/ProgressBar006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1028},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TianGMainInterface/TianGBK001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,520}}</string>
                <key>sourceSize</key>
                <string>{960,520}</string>
            </dict>
            <key>TianGMainInterface/TianGBK002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,710},{180,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,36}}</string>
                <key>sourceSize</key>
                <string>{180,36}</string>
            </dict>
            <key>TianGMainInterface/TianGBK003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1046},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>TianGMainInterface/TianGBK004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1046},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>TianGMainInterface/TianGBK005.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1046},{40,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,2}}</string>
                <key>sourceSize</key>
                <string>{40,2}</string>
            </dict>
            <key>TianGMainInterface/TianGBK006.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{850,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,544}}</string>
                <key>sourceSize</key>
                <string>{850,544}</string>
            </dict>
            <key>TianGMainInterface/TianGBK007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,548},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>TianGMainInterface/TianGBK008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{22,362}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,362}}</string>
                <key>sourceSize</key>
                <string>{32,416}</string>
            </dict>
            <key>TianGMainInterface/TianGBK009.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,548},{510,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,400}}</string>
                <key>sourceSize</key>
                <string>{510,400}</string>
            </dict>
            <key>TianGMainInterface/TianGBK010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{960,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,520}}</string>
                <key>sourceSize</key>
                <string>{960,520}</string>
            </dict>
            <key>TianGMainInterface/TianGBK011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,624},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,548},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,710},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,180},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,358},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,536},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBuilding007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,888},{144,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{144,176}</string>
            </dict>
            <key>TianGMainInterface/TianGBut001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,950},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianGMainInterface/TianGBut002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,974},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianGMainInterface/TianGBut003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,836},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianGMainInterface/TianGBut004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,974},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianGMainInterface/TianGBut005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,902},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianGMainInterface/TianGBut006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,902},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianGMainInterface/TianGBut007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1040},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TianGMainInterface/TianGBut009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1040},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TianGMainInterface/TianGBut010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1002},{180,50}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>TianGMainInterface/TianGBut011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,950},{190,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>TianGMainInterface/TianGBut012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,892},{132,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>TianGMainInterface/TianGBut013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,974},{132,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,52}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>TianGMainInterface/TianGBut014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,816},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TianGMainInterface/TianGBut015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1006},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{34,34}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TianGMainInterface/TianGBut016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,870},{92,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{92,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>TianGMainInterface/TianGBut017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,714},{94,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{94,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>TianGMainInterface/TianGBut018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,994},{92,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{92,104}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>TianGMainInterface/TianGBut019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,870},{94,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{94,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>TianGMainInterface/TianGBut020.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,994},{92,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{92,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>TianGMainInterface/TianGImage001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,694},{174,142}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{174,142}}</string>
                <key>sourceSize</key>
                <string>{184,160}</string>
            </dict>
            <key>TianGMainInterface/TianGImage002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,968},{20,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>TianGMainInterface/TianGImage003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,950},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{16,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>TianGMainInterface/TianGImage004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{18,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>TianGMainInterface/TianGImage005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,936},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TianGMainInterface/TianGImage006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1040},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TianGMainInterface/TianGImage007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,814},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>TianGMainInterface/TianGImage008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1016},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>TianGMainInterface/TianGImage009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1052},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>TianGMainInterface/TianGName01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1046},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGName02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1046},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGName03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,694},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGName04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,714},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGName05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,714},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGName06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1028},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGName07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,814},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>TianGMainInterface/TianGReel001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{58,620}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,620}}</string>
                <key>sourceSize</key>
                <string>{72,624}</string>
            </dict>
            <key>TianGMainInterface/TianGReel002.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,950},{42,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{42,234}}</string>
                <key>sourceSize</key>
                <string>{48,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TianGMainInterface.png</string>
            <key>size</key>
            <string>{2034,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0d6e646dc17d47d2572f5c083846a4:b4cd0b25fe08be4cc446a52a43d59aef:c20cf07cab054098830d82bebbdd8743$</string>
            <key>textureFileName</key>
            <string>TianGMainInterface.png</string>
        </dict>
    </dict>
</plist>
