<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TianggkwImage/TiangkwBK00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{384,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,220}}</string>
                <key>sourceSize</key>
                <string>{384,220}</string>
            </dict>
            <key>TianggkwImage/TiangkwBK00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,232},{396,116}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{396,116}}</string>
                <key>sourceSize</key>
                <string>{416,116}</string>
            </dict>
            <key>TianggkwImage/TiangkwIco00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{294,186}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,136},{294,186}}</string>
                <key>sourceSize</key>
                <string>{408,368}</string>
            </dict>
            <key>TianggkwImage/TiangkwIco00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,224},{328,214}}</string>
                <key>offset</key>
                <string>{-25,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,106},{328,214}}</string>
                <key>sourceSize</key>
                <string>{408,368}</string>
            </dict>
            <key>TianggkwImage/TiangkwIco00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{342,228}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,95},{342,228}}</string>
                <key>sourceSize</key>
                <string>{408,368}</string>
            </dict>
            <key>TianggkwImage/TiangkwIco00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{334,238}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,82},{334,238}}</string>
                <key>sourceSize</key>
                <string>{408,368}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,386},{54,42}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{54,42}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,386},{56,46}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{56,46}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,190},{58,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{58,50}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,386},{60,54}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{60,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,350},{72,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,372},{116,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,12}}</string>
                <key>sourceSize</key>
                <string>{116,14}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,242},{408,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,140}}</string>
                <key>sourceSize</key>
                <string>{408,140}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,350},{158,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,86}}</string>
                <key>sourceSize</key>
                <string>{158,86}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{408,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,64}}</string>
                <key>sourceSize</key>
                <string>{408,64}</string>
            </dict>
            <key>TianggkwImage/TiangkwImg00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,190},{252,186}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,136},{252,186}}</string>
                <key>sourceSize</key>
                <string>{408,368}</string>
            </dict>
            <key>TianggkwImage/TiangkwReward00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,350},{96,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>TianggkwImage/TiangkwRule00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,368}}</string>
                <key>sourceSize</key>
                <string>{578,368}</string>
            </dict>
            <key>TianggkwImage/TiangkwStatus00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,384},{40,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{40,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TianggkwImage/TiangkwStatus00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TianggkwImage.png</string>
            <key>size</key>
            <string>{1944,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db39ab17649e4b0f47f630f471bc27a:fce1d770e7403af66f8c9a1bde10d941:e35384db29f9d83028fd38553f39585e$</string>
            <key>textureFileName</key>
            <string>TianggkwImage.png</string>
        </dict>
    </dict>
</plist>
