<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZaixqyLetter/ZaixqyLetterImage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,448}}</string>
                <key>sourceSize</key>
                <string>{514,448}</string>
            </dict>
            <key>ZaixqyLetter/ZaixqyLetterImage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{22,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,84}}</string>
                <key>sourceSize</key>
                <string>{22,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZaixqyLetter.png</string>
            <key>size</key>
            <string>{542,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46849906aa41a11dd02d7df1b4aa64fd:ed6b825ea9df33f66e1aa3fe13c6318e:acae7755a6201c86c0eea07285873754$</string>
            <key>textureFileName</key>
            <string>ZaixqyLetter.png</string>
        </dict>
    </dict>
</plist>
