<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{120,140}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,87},{120,140}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{860,120},{154,128}}</string>
                <key>offset</key>
                <string>{33,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,106},{154,128}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{136,120}}</string>
                <key>offset</key>
                <string>{25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{136,120}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{108,210}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,21},{108,210}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{116,212}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,19},{116,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{110,212}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,19},{110,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{110,210}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,21},{110,210}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{580,114},{136,126}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,92},{136,126}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{108,122}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,104},{108,122}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,100}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,117},{98,100}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{282,112},{122,144}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,72},{122,144}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{428,114},{124,150}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,66},{124,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{718,114},{130,140}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,76},{130,140}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{1016,120},{132,140}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,76},{132,140}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cast.png</string>
            <key>size</key>
            <string>{1158,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6175f9e28ef952c8958b80f6df5b29:e0a3fb68aabe183ebacf159bdc5ed1f4:d03238ae1020ade0492eb7d04c29871f$</string>
            <key>textureFileName</key>
            <string>cast.png</string>
        </dict>
    </dict>
</plist>
