<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{50,126}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,397},{50,126}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{130,68},{50,126}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,396},{50,126}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{1124,66},{50,124}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,397},{50,124}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{386,66},{52,124}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,396},{52,124}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{636,66},{52,120}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,398},{52,120}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{758,66},{52,120}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,398},{52,120}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{1376,64},{52,118}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,399},{52,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{880,66},{52,120}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,398},{52,120}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{1002,66},{52,120}}</string>
                <key>offset</key>
                <string>{18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,399},{52,120}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{512,66},{52,122}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,398},{52,122}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{1250,64},{50,124}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,398},{50,124}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{258,68},{50,126}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,397},{50,126}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,118}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,408},{64,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{64,118}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,408},{64,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{62,118}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,408},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{62,118}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,409},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{62,118}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,410},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{60,118}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,411},{60,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{62,118}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,412},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{60,118}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,413},{60,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{62,118}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,413},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{62,118}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,412},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{62,118}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,411},{62,118}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{64,116}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,411},{64,116}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1496,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cd96a0f5ddb5dc86f3b3db63147f92f:ffc80ef4e0202b56c44b942b684e953c:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
