<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{314,232}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,140},{314,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{318,1158},{314,232}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,141},{314,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{524,844},{312,230}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,143},{312,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{634,1158},{312,232}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,141},{312,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{586,284},{310,234}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,139},{310,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{756,832},{310,232}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,141},{310,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{288,844},{312,234}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,139},{312,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{570,596},{312,234}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,139},{312,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,280}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,149},{300,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{298,276}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,149},{298,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{294,272}}</string>
                <key>offset</key>
                <string>{26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,150},{294,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{280,572},{288,270}}</string>
                <key>offset</key>
                <string>{30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,149},{288,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{286,284}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,150},{286,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{296,284},{286,288}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,149},{286,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{292,284}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,149},{292,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{296,280}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,149},{296,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{994,1392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:349f877799f4b85c81ef2dc6323e7241:1e28f2a1e5e79674fd7a39c6f87284ee:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
