<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02124_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,598},{168,134}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,164},{168,134}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{172,144}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,155},{172,144}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,584},{188,156}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,145},{188,156}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,568},{190,164}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,139},{190,164}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,396},{202,170}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,133},{202,170}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,200},{224,180}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,124},{224,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,206},{220,188}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,116},{220,188}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{224,202}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{224,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{244,196}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,105},{244,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{260,196}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,99},{260,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,198}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,89},{264,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{248,196}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{248,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02124_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,382},{200,204}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,73},{200,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02124.png</string>
            <key>size</key>
            <string>{744,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bbff1cad97ccc2561d8ef14c83b538c:5c8f29edfb4f27a423f54f85f4030336:d04d2fd477aa85dc80e77d2df943380a$</string>
            <key>textureFileName</key>
            <string>02124.png</string>
        </dict>
    </dict>
</plist>
