<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{68,70}}</string>
                <key>offset</key>
                <string>{20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,85},{68,70}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{210,126},{64,68}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,89},{64,68}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{60,70}}</string>
                <key>offset</key>
                <string>{24,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,74},{60,70}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{64,70}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,67},{64,70}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{66,68}}</string>
                <key>offset</key>
                <string>{32,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,66},{66,68}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,68}}</string>
                <key>offset</key>
                <string>{30,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,70},{68,68}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{72,68}}</string>
                <key>offset</key>
                <string>{28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,76},{72,68}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,70}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,79},{74,70}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{150,212},{62,68}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,93},{62,68}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{148,78},{60,72}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,96},{60,72}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{60,74}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,92},{60,74}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{72,144},{58,76}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,91},{58,76}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{72,222},{58,76}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,92},{58,76}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{132,152},{58,76}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,92},{58,76}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{214,192},{58,74}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,93},{58,74}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{210,64},{60,70}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,94},{60,70}}</string>
                <key>sourceSize</key>
                <string>{368,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{282,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95ee070953a775d83e4ff49a24228cbd:dcff6eda6b87070207336923fe203ab0:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
