<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{118,100}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,168},{118,100}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{120,96}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,174},{120,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{122,98}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,176},{122,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{122,106}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,168},{122,106}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{124,114}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,159},{124,114}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{122,110}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,165},{122,110}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{122,104}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,170},{122,104}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10007</key>
            <dict>
                <key>frame</key>
                <string>{{126,460},{122,94}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,175},{122,94}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{122,1456},{98,98}}</string>
                <key>offset</key>
                <string>{29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,173},{98,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{108,100}}</string>
                <key>offset</key>
                <string>{30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,175},{108,100}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{122,1224},{116,98}}</string>
                <key>offset</key>
                <string>{31,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,177},{116,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,88}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,179},{122,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,80}}</string>
                <key>offset</key>
                <string>{31,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,182},{128,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{124,80}}</string>
                <key>offset</key>
                <string>{30,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,187},{124,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{118,84}}</string>
                <key>offset</key>
                <string>{30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,186},{118,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{128,126},{110,92}}</string>
                <key>offset</key>
                <string>{30,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,178},{110,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10000</key>
            <dict>
                <key>frame</key>
                <string>{{118,1556},{102,102}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,191},{102,102}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10001</key>
            <dict>
                <key>frame</key>
                <string>{{116,1660},{100,104}}</string>
                <key>offset</key>
                <string>{31,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,194},{100,104}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10002</key>
            <dict>
                <key>frame</key>
                <string>{{124,908},{96,106}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,195},{96,106}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10003</key>
            <dict>
                <key>frame</key>
                <string>{{112,1850},{102,102}}</string>
                <key>offset</key>
                <string>{32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,194},{102,102}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10004</key>
            <dict>
                <key>frame</key>
                <string>{{122,1342},{112,98}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,191},{112,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10005</key>
            <dict>
                <key>frame</key>
                <string>{{124,1016},{106,96}}</string>
                <key>offset</key>
                <string>{31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,197},{106,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10006</key>
            <dict>
                <key>frame</key>
                <string>{{124,1124},{98,96}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,199},{98,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1898},{96,96}}</string>
                <key>offset</key>
                <string>{33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,198},{96,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{126,796},{110,86}}</string>
                <key>offset</key>
                <string>{22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,214},{110,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{128,348},{110,90}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,216},{110,90}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{128,238},{108,92}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,220},{108,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{126,584},{104,90}}</string>
                <key>offset</key>
                <string>{27,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,219},{104,90}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{126,690},{104,90}}</string>
                <key>offset</key>
                <string>{28,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,215},{104,90}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{114,1762},{106,86}}</string>
                <key>offset</key>
                <string>{26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,220},{106,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{110,82}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,223},{110,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{112,84}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,218},{112,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{114,80}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,223},{114,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{118,78}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,229},{118,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{120,74}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,234},{120,74}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{120,72}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,233},{120,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{124,74}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{124,74}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{122,76}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,233},{122,76}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{120,80}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,231},{120,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{118,82}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,226},{118,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{222,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d070318df16be1d57621e5f9455bd0b1:fc96a2db0b8640c774496cb9a1e39ddd:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
