<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02123_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,938},{168,134}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,164},{168,134}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,966},{172,144}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,155},{172,144}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{188,156}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,145},{188,156}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{190,164}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,139},{190,164}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,766},{202,170}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,133},{202,170}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,196},{222,180}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,124},{222,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,378},{220,188}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,116},{220,188}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{224,192}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,110},{224,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,568},{244,196}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,105},{244,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{260,196}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,99},{260,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,198}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,89},{264,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{248,196}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{248,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02123_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{200,204}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,73},{200,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02123.png</string>
            <key>size</key>
            <string>{502,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c80ff97f225c9a14aa5222654730c8f5:6c7226a107133fed89e0f4469f7c23e7:d4e33cbd310802ceec3300e59b501d21$</string>
            <key>textureFileName</key>
            <string>02123.png</string>
        </dict>
    </dict>
</plist>
