<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{98,120}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{98,120}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{88,168}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,36},{88,168}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{160,206},{94,178}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,26},{94,178}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{144,386},{106,172}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,32},{106,172}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{98,128}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,28},{98,128}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{96,136}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,20},{96,136}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{90,884},{104,150}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,37},{104,150}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{150,120}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,59},{150,120}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{156,136}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,61},{156,136}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{158,114}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,98},{158,114}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{148,98}}</string>
                <key>offset</key>
                <string>{13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,117},{148,98}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{152,1306},{144,100}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{144,100}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{86,142}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,33},{86,142}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{86,182}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,38},{86,182}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{84,202}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,17},{84,202}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{132,560},{98,184}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,35},{98,184}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{132,1596},{104,120}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,22},{104,120}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{124,746},{118,136}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,13},{118,136}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{90,1100},{130,114}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,40},{130,114}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{140,1452},{142,90}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,65},{142,90}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{128,150}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,75},{128,150}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,160}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,79},{134,160}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{140,138}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,88},{140,138}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{90,990},{144,108}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,126},{144,108}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{256,1706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dfb0dd6359819fe4b376479c55fe8a2:3eb51c64b44bf88a77c1dda8c9203041:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
