<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{108,238},{68,62}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,132},{68,62}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{178,484},{70,58}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,135},{70,58}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{54,374},{70,54}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,138},{70,54}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{126,570},{68,60}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,137},{68,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{124,444},{52,70}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,124},{52,70}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{178,436},{46,72}}</string>
                <key>offset</key>
                <string>{-29,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,117},{46,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{194,52},{56,76}}</string>
                <key>offset</key>
                <string>{-32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,117},{56,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{132,986},{60,54}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,112},{60,54}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{134,924},{60,52}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,113},{60,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{196,614},{62,54}}</string>
                <key>offset</key>
                <string>{-40,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,112},{62,54}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{56,502},{64,54}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,113},{64,54}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{194,758},{70,56}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,112},{70,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10012</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{76,56}}</string>
                <key>offset</key>
                <string>{-32,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,119},{76,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10013</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{92,50}}</string>
                <key>offset</key>
                <string>{-23,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,135},{92,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10014</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{100,48}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,144},{100,48}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10015</key>
            <dict>
                <key>frame</key>
                <string>{{118,682},{74,58}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,141},{74,58}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10016</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{80,62}}</string>
                <key>offset</key>
                <string>{9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,143},{80,62}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10017</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{94,66}}</string>
                <key>offset</key>
                <string>{20,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,147},{94,66}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10018</key>
            <dict>
                <key>frame</key>
                <string>{{56,120},{86,50}}</string>
                <key>offset</key>
                <string>{40,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,170},{86,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10019</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{90,52}}</string>
                <key>offset</key>
                <string>{41,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,171},{90,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10020</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{88,52}}</string>
                <key>offset</key>
                <string>{47,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,176},{88,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10021</key>
            <dict>
                <key>frame</key>
                <string>{{98,52},{94,56}}</string>
                <key>offset</key>
                <string>{49,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,174},{94,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10022</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{86,60}}</string>
                <key>offset</key>
                <string>{57,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,172},{86,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10023</key>
            <dict>
                <key>frame</key>
                <string>{{56,292},{80,50}}</string>
                <key>offset</key>
                <string>{64,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,181},{80,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10024</key>
            <dict>
                <key>frame</key>
                <string>{{118,800},{70,56}}</string>
                <key>offset</key>
                <string>{61,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,175},{70,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10025</key>
            <dict>
                <key>frame</key>
                <string>{{66,982},{64,56}}</string>
                <key>offset</key>
                <string>{61,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,172},{64,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10026</key>
            <dict>
                <key>frame</key>
                <string>{{126,370},{50,72}}</string>
                <key>offset</key>
                <string>{46,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,159},{50,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10027</key>
            <dict>
                <key>frame</key>
                <string>{{118,632},{48,76}}</string>
                <key>offset</key>
                <string>{31,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,154},{48,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10028</key>
            <dict>
                <key>frame</key>
                <string>{{56,700},{60,74}}</string>
                <key>offset</key>
                <string>{21,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,144},{60,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10029</key>
            <dict>
                <key>frame</key>
                <string>{{56,776},{60,74}}</string>
                <key>offset</key>
                <string>{8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,140},{60,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10030</key>
            <dict>
                <key>frame</key>
                <string>{{194,1028},{60,56}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,138},{60,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10031</key>
            <dict>
                <key>frame</key>
                <string>{{188,900},{62,60}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,134},{62,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{118,858},{68,64}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,132},{68,64}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{108,302},{66,68}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,128},{66,68}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{108,164},{68,72}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,125},{68,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{56,430},{70,66}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{70,66}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{84,52}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,133},{84,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{98,50}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,125},{98,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{96,52}}</string>
                <key>offset</key>
                <string>{16,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,123},{96,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{178,328},{72,54}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,120},{72,54}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{118,742},{74,56}}</string>
                <key>offset</key>
                <string>{36,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,117},{74,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{130,1042},{56,58}}</string>
                <key>offset</key>
                <string>{46,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,115},{56,58}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{150,1102},{48,54}}</string>
                <key>offset</key>
                <string>{43,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,120},{48,54}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{126,516},{50,52}}</string>
                <key>offset</key>
                <string>{42,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,123},{50,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10012</key>
            <dict>
                <key>frame</key>
                <string>{{200,1090},{50,50}}</string>
                <key>offset</key>
                <string>{30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,131},{50,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10013</key>
            <dict>
                <key>frame</key>
                <string>{{80,1040},{48,60}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,131},{48,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10014</key>
            <dict>
                <key>frame</key>
                <string>{{64,924},{56,68}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,130},{56,68}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10015</key>
            <dict>
                <key>frame</key>
                <string>{{196,544},{54,68}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,132},{54,68}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10016</key>
            <dict>
                <key>frame</key>
                <string>{{54,558},{62,70}}</string>
                <key>offset</key>
                <string>{-15,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,136},{62,70}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10017</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{76,78}}</string>
                <key>offset</key>
                <string>{-23,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,138},{76,78}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10018</key>
            <dict>
                <key>frame</key>
                <string>{{178,384},{50,72}}</string>
                <key>offset</key>
                <string>{-47,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,154},{50,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10019</key>
            <dict>
                <key>frame</key>
                <string>{{194,682},{56,74}}</string>
                <key>offset</key>
                <string>{-51,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,154},{56,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10020</key>
            <dict>
                <key>frame</key>
                <string>{{64,852},{52,70}}</string>
                <key>offset</key>
                <string>{-60,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,161},{52,70}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10021</key>
            <dict>
                <key>frame</key>
                <string>{{178,208},{60,72}}</string>
                <key>offset</key>
                <string>{-61,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,162},{60,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10022</key>
            <dict>
                <key>frame</key>
                <string>{{56,622},{60,76}}</string>
                <key>offset</key>
                <string>{-64,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,160},{60,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10023</key>
            <dict>
                <key>frame</key>
                <string>{{194,962},{56,64}}</string>
                <key>offset</key>
                <string>{-64,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,175},{56,64}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10024</key>
            <dict>
                <key>frame</key>
                <string>{{190,830},{68,60}}</string>
                <key>offset</key>
                <string>{-66,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,174},{68,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10025</key>
            <dict>
                <key>frame</key>
                <string>{{178,270},{72,56}}</string>
                <key>offset</key>
                <string>{-66,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,175},{72,56}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10026</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{90,52}}</string>
                <key>offset</key>
                <string>{-58,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,167},{90,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10027</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,48}}</string>
                <key>offset</key>
                <string>{-47,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,161},{116,48}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10028</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{108,52}}</string>
                <key>offset</key>
                <string>{-37,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,151},{108,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10029</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{98,52}}</string>
                <key>offset</key>
                <string>{-23,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,146},{98,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10030</key>
            <dict>
                <key>frame</key>
                <string>{{56,208},{82,50}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,146},{82,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10031</key>
            <dict>
                <key>frame</key>
                <string>{{80,1102},{68,52}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{68,52}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand2.png</string>
            <key>size</key>
            <string>{252,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9865fabaefc10bcb6f5f74f3daf4eddf:d2f210ad131252c08f425c7d35dbbd93:2f441277ad4edb22fa65beb4bbf80b43$</string>
            <key>textureFileName</key>
            <string>stand2.png</string>
        </dict>
    </dict>
</plist>
