<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{146,72}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,194},{146,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{146,72}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,195},{146,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{152,78}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,192},{152,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{154,80}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,191},{154,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{160,84}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,190},{160,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{154,80}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,192},{154,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{152,76}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,194},{152,76}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{146,72}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,195},{146,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{132,1700},{128,96}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,189},{128,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{128,100}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,179},{128,100}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{132,106}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,178},{132,106}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{138,1358},{132,126}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,163},{132,126}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{134,112}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,178},{134,112}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{132,110}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,180},{132,110}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{134,114}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,176},{134,114}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{152,916},{130,122}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,166},{130,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10000</key>
            <dict>
                <key>frame</key>
                <string>{{156,816},{98,118}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,187},{98,118}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10001</key>
            <dict>
                <key>frame</key>
                <string>{{124,1904},{98,118}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,189},{98,118}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{102,120}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,189},{102,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10003</key>
            <dict>
                <key>frame</key>
                <string>{{150,1152},{102,122}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,187},{102,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10004</key>
            <dict>
                <key>frame</key>
                <string>{{130,1798},{104,126}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,185},{104,126}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10005</key>
            <dict>
                <key>frame</key>
                <string>{{150,1048},{102,124}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,186},{102,124}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10006</key>
            <dict>
                <key>frame</key>
                <string>{{150,1256},{100,122}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,187},{100,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{98,120}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,187},{98,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{126,106}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,206},{126,106}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{136,1594},{128,104}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,210},{128,104}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{132,104}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,212},{132,104}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{136,1486},{132,106}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,211},{132,106}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{158,678},{136,112}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,206},{136,112}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{160,268},{136,114}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,203},{136,114}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{158,542},{134,114}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,202},{134,114}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{164,136},{130,110}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,204},{130,110}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{148,80}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,223},{148,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{146,80}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,224},{146,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{154,82}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,224},{154,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{156,84}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,224},{156,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,86}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,224},{160,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{156,84}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,224},{156,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{154,82}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,224},{154,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{148,80}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,223},{148,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{276,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d5916b5ec8bdb85fdd1fa46be971cb1:d9feaec6869b1a965f7977fb35468fd4:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
