<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02093_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{410,160}}</string>
                <key>sourceSize</key>
                <string>{420,240}</string>
            </dict>
            <key>02093_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{260,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{260,252}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,894},{108,66}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{108,66}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>02093_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{242,238}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{242,238}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>02093_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,962},{122,94}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{122,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>02093_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,154},{204,200}}</string>
                <key>offset</key>
                <string>{-9,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,0},{204,200}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>02093_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{278,150}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{278,150}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>02093_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,506},{232,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{232,140}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>02093_bai/02093_bai_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{258,152}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{258,152}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_bai/02093_bai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,164},{258,154}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{258,154}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_bai/02093_bai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,156},{260,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_bai/02093_bai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,424},{250,152}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,152}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_bai/02093_bai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{260,154}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{260,154}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_bai/02093_bai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,156},{260,142}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{260,142}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_he/02093_he_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,516},{210,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{210,124}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_he/02093_he_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,300},{214,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,32},{214,124}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_he/02093_he_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,700},{218,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{218,120}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_he/02093_he_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,822},{216,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{216,122}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_he/02093_he_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,514},{210,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{210,124}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_he/02093_he_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,298},{214,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,31},{214,124}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_hei/02093_hei_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,648},{230,138}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{230,138}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_hei/02093_hei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,428},{236,140}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{236,140}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_hei/02093_hei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,570},{242,128}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{242,128}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_hei/02093_hei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,818},{234,138}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{234,138}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_hei/02093_hei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,676},{234,140}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{234,140}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_hei/02093_hei_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,300},{244,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{244,126}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>02093_yan/02093_yan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,728},{156,108}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,87},{156,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,726},{166,116}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,84},{166,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,970},{174,122}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,82},{174,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,970},{178,126}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,81},{178,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,838},{182,130}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,79},{182,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,958},{186,134}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,77},{186,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,958},{190,138}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,76},{190,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{194,142}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,75},{194,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,946},{198,146}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,73},{198,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,940},{200,148}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,72},{200,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,356},{204,148}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,73},{204,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,788},{206,150}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,71},{206,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>02093_yan/02093_yan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{208,150}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,72},{208,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02093.png</string>
            <key>size</key>
            <string>{1150,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3154e748d1e5ce872716c5ff18e8f1ae:af5ca856075ec8d9e72832da1d6cb346:1e241d3184448f154f846d74d4f562d2$</string>
            <key>textureFileName</key>
            <string>02093.png</string>
        </dict>
    </dict>
</plist>
