<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01217xulie/01217_00000.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>01217xulie/01217_00001.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>01217xulie/01217_00002.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>01217xulie/01217_00003.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>01217xulie/01217_00004.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>01217xulie/01217_00005.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>01217xulie/01217_00006.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>01217xulie/01217_00007.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>01217xulie/01217_00008.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>279</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>01217xulie/01217_00009.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>01217xulie/01217_00010.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>01217xulie/01217_00011.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>012170.png</string>
			<key>realTextureFileName</key>
			<string>012170.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>