<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02056_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,36},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>02056_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{28,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{28,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>02056_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>02056_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,36},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>02056_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02056.png</string>
            <key>size</key>
            <string>{88,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8995cd0c3878fded24f9349eaa8891d0:2842e54c4f9e2a70816eab96eb3f8ce7:413cdacc4d6985d724d89b3e0609226d$</string>
            <key>textureFileName</key>
            <string>02056.png</string>
        </dict>
    </dict>
</plist>
