<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02104_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{286,218}}</string>
                <key>offset</key>
                <string>{2,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,85},{286,218}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{300,238}}</string>
                <key>offset</key>
                <string>{-3,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,65},{300,238}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,338},{330,260}}</string>
                <key>offset</key>
                <string>{1,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{330,260}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{334,260}}</string>
                <key>offset</key>
                <string>{0,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,43},{334,260}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,698},{332,262}}</string>
                <key>offset</key>
                <string>{-4,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{332,262}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{328,262}}</string>
                <key>offset</key>
                <string>{-4,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,40},{328,262}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,700},{328,260}}</string>
                <key>offset</key>
                <string>{1,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{328,260}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{340,260}}</string>
                <key>offset</key>
                <string>{0,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,38},{340,260}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,370},{328,246}}</string>
                <key>offset</key>
                <string>{-6,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,49},{328,246}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,304},{230,64}}</string>
                <key>offset</key>
                <string>{-1,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,176},{230,64}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,700},{222,54}}</string>
                <key>offset</key>
                <string>{0,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,183},{222,54}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>02104_dkh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,352}}</string>
                <key>sourceSize</key>
                <string>{216,352}</string>
            </dict>
            <key>02104_dkq.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,332},{214,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{214,294}}</string>
                <key>sourceSize</key>
                <string>{216,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02104.png</string>
            <key>size</key>
            <string>{990,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4210cd8564e10a6e0970e4bbedd39f92:f691abe08a9b1cfd51b1120ce1613aca:f1206191554b86783ae3abce910beb38$</string>
            <key>textureFileName</key>
            <string>02104.png</string>
        </dict>
    </dict>
</plist>
