<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02108_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{538,62}}</string>
                <key>sourceSize</key>
                <string>{560,64}</string>
            </dict>
            <key>02108_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{246,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,50}}</string>
                <key>sourceSize</key>
                <string>{260,64}</string>
            </dict>
            <key>02108_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{238,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{238,110}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>02108_hd/02108_hd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,202},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,230},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,66},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,202},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,210},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,218},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,146},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,162},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,178},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,218},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,232},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,226},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,234},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_hd/02108_hd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,234},{134,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,14}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>02108_lizi/02108_lizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,66},{150,54}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{150,54}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{152,70}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{152,70}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,66},{152,76}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{152,76}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{154,80}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{154,80}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,114},{154,86}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{154,86}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,54},{154,90}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{154,90}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,54},{154,90}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{154,90}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,66},{144,90}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,15},{144,90}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,144},{140,84}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,15},{140,84}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,114},{120,84}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,14},{120,84}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>02108_lizi/02108_lizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,158},{120,72}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,15},{120,72}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02108.png</string>
            <key>size</key>
            <string>{1044,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28353bb0dfe5270d9daa44daf2164045:9404a7b2a8809ccbab25368bf5f62e59:7294b6fef34a144ae1933ddc1eff2eb1$</string>
            <key>textureFileName</key>
            <string>02108.png</string>
        </dict>
    </dict>
</plist>
