<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02181_lg03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{722,370}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{722,370}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{722,372}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,56},{722,372}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1120},{720,372}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,57},{720,372}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,374},{712,372}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{712,372}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{710,372}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,57},{710,372}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{712,370}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,59},{712,370}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{712,370}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,59},{712,370}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,748},{714,370}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,58},{714,370}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
            <key>02181_lg03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,366}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{712,366}}</string>
                <key>sourceSize</key>
                <string>{860,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02181_01.png</string>
            <key>size</key>
            <string>{1430,1866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb0a8b67727d6f657ae376a74fe379f3:58497d03c1a4b4dbc6844781a2e91acb:bf6df415eb43df1ccb4b818aac185dae$</string>
            <key>textureFileName</key>
            <string>02181_01.png</string>
        </dict>
    </dict>
</plist>
