<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,46}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,144},{76,46}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,46}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,144},{76,46}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parry.png</string>
            <key>size</key>
            <string>{84,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d7bed3e8094e75845a52cd2b894b95b:d708f35ce1d02315a71e071fcc6771e2:25faeef54b43c2a3a9386d8709b4fceb$</string>
            <key>textureFileName</key>
            <string>parry.png</string>
        </dict>
    </dict>
</plist>
