<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{158,312},{72,74}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,118},{72,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{166,162},{76,74}}</string>
                <key>offset</key>
                <string>{-14,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,118},{76,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{158,238},{80,72}}</string>
                <key>offset</key>
                <string>{-16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,120},{80,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{170,76},{84,72}}</string>
                <key>offset</key>
                <string>{-18,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,121},{84,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{74,234},{82,74}}</string>
                <key>offset</key>
                <string>{-17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{82,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{76,310},{80,74}}</string>
                <key>offset</key>
                <string>{-16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,119},{80,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{76,386},{76,74}}</string>
                <key>offset</key>
                <string>{-14,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,118},{76,74}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{154,386},{74,76}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,116},{74,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,86}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,97},{78,86}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{76,88}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,95},{76,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{72,92}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,91},{72,92}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{70,94}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,89},{70,94}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{70,92}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,91},{70,92}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{72,90}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,94},{72,90}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{82,76},{76,86}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,97},{76,86}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{80,154},{78,84}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,99},{78,84}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{244,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078a959ce9c32dc661f71f2732664973:dd691239f0d23c83798453529db8efdd:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
