<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{102,86}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,210},{102,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{102,86}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,210},{102,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,70}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,223},{122,70}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,70}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,223},{122,70}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defense.png</string>
            <key>size</key>
            <string>{126,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bb5e9b5cbba9c793c2077ad40edf08b:b0937d331e8b7c56d0f440ec041a5633:9dd8d929761850648aef7d28659a40d7$</string>
            <key>textureFileName</key>
            <string>defense.png</string>
        </dict>
    </dict>
</plist>
