<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{36,54}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,186},{36,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{176,40},{36,54}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,191},{36,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{176,78},{32,54}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,196},{32,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{60,144},{30,64}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,198},{30,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{30,64}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,200},{30,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{176,112},{32,54}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,201},{32,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{92,144},{36,52}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,196},{36,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{56,58}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,190},{56,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{54,76},{66,42}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,193},{66,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{130,188},{56,42}}</string>
                <key>offset</key>
                <string>{22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,193},{56,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{58,44}}</string>
                <key>offset</key>
                <string>{21,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,192},{58,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{130,126},{58,44}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,197},{58,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10012</key>
            <dict>
                <key>frame</key>
                <string>{{176,146},{50,40}}</string>
                <key>offset</key>
                <string>{24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,203},{50,40}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{56,62}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,211},{56,62}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,66}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,209},{56,66}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,72}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,206},{56,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10012</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,74}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,208},{50,74}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{232,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80987ebec2f828098db34838857d603b:d9019085112c50ed7fcd899fc022d511:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
