<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{128,98}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,83},{128,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{120,128}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,66},{120,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{102,100}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{102,100}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{132,264},{94,114}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,93},{94,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{108,128}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,69},{108,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{132,556},{104,90}}</string>
                <key>offset</key>
                <string>{15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,40},{104,90}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{114,662},{108,86}}</string>
                <key>offset</key>
                <string>{31,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,11},{108,86}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{106,88}}</string>
                <key>offset</key>
                <string>{36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,44},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{74,98}}</string>
                <key>offset</key>
                <string>{31,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,49},{74,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{118,68}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,79},{118,68}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{132,140},{122,94}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{122,94}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{132,442},{112,90}}</string>
                <key>offset</key>
                <string>{-31,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,43},{112,90}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{106,936},{102,82}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,85},{102,82}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{132,380},{94,60}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,89},{94,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{106,838},{102,96}}</string>
                <key>offset</key>
                <string>{-24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,35},{102,96}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{110,750},{104,86}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,64},{104,86}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{110,106}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,64},{110,106}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{104,128}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,64},{104,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{76,136}}</string>
                <key>offset</key>
                <string>{31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,80},{76,136}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,142}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,48},{126,142}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{228,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b85c23c2f881dba4709240030dec0e:ee6339d830bd79bb7cb830ee8fdd7873:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
