<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,108}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,198},{94,108}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,108}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,198},{94,108}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{14,44}}</string>
                <key>offset</key>
                <string>{-30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,202},{14,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{14,44}}</string>
                <key>offset</key>
                <string>{-30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,202},{14,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parry.png</string>
            <key>size</key>
            <string>{128,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1473d94fa13d7602cb9ab65687f881a:fa64a5ebdcdf5c5baab830b0e3ad0011:25faeef54b43c2a3a9386d8709b4fceb$</string>
            <key>textureFileName</key>
            <string>parry.png</string>
        </dict>
    </dict>
</plist>
