<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2/10000</key>
            <dict>
                <key>frame</key>
                <string>{{226,104},{10,54}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,194},{10,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10001</key>
            <dict>
                <key>frame</key>
                <string>{{144,134},{14,44}}</string>
                <key>offset</key>
                <string>{33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,203},{14,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10002</key>
            <dict>
                <key>frame</key>
                <string>{{238,104},{18,38}}</string>
                <key>offset</key>
                <string>{36,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,208},{18,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10003</key>
            <dict>
                <key>frame</key>
                <string>{{166,240},{16,38}}</string>
                <key>offset</key>
                <string>{34,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,209},{16,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10004</key>
            <dict>
                <key>frame</key>
                <string>{{238,144},{12,44}}</string>
                <key>offset</key>
                <string>{29,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,204},{12,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10005</key>
            <dict>
                <key>frame</key>
                <string>{{238,190},{10,46}}</string>
                <key>offset</key>
                <string>{24,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,197},{10,46}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10006</key>
            <dict>
                <key>frame</key>
                <string>{{250,190},{6,50}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,190},{6,50}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10007</key>
            <dict>
                <key>frame</key>
                <string>{{184,186},{8,52}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,191},{8,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{48,140},{58,38}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,222},{58,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{60,28}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,232},{60,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{160,108},{62,22}}</string>
                <key>offset</key>
                <string>{42,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,238},{62,22}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{200,104},{60,24}}</string>
                <key>offset</key>
                <string>{43,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,237},{60,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{58,28}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,232},{58,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{72,200},{56,32}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,223},{56,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{160,52},{54,36}}</string>
                <key>offset</key>
                <string>{45,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,216},{54,36}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{32,200},{56,38}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,217},{56,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10000</key>
            <dict>
                <key>frame</key>
                <string>{{32,122},{76,14}}</string>
                <key>offset</key>
                <string>{33,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,254},{76,14}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10001</key>
            <dict>
                <key>frame</key>
                <string>{{100,58},{74,22}}</string>
                <key>offset</key>
                <string>{28,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,253},{74,22}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{72,28}}</string>
                <key>offset</key>
                <string>{24,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,253},{72,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10003</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{74,26}}</string>
                <key>offset</key>
                <string>{26,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,255},{74,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10004</key>
            <dict>
                <key>frame</key>
                <string>{{48,62},{76,22}}</string>
                <key>offset</key>
                <string>{32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,255},{76,22}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10005</key>
            <dict>
                <key>frame</key>
                <string>{{124,56},{76,18}}</string>
                <key>offset</key>
                <string>{39,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,252},{76,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10006</key>
            <dict>
                <key>frame</key>
                <string>{{144,56},{76,14}}</string>
                <key>offset</key>
                <string>{43,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,250},{76,14}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10007</key>
            <dict>
                <key>frame</key>
                <string>{{184,108},{76,14}}</string>
                <key>offset</key>
                <string>{40,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,252},{76,14}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{106,200},{54,42}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,251},{54,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{50,52}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,246},{50,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{44,58}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,243},{44,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,245},{46,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{50,54}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,249},{50,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{54,48}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,252},{54,48}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{56,44}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,252},{56,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{88,134},{54,44}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,251},{54,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10000</key>
            <dict>
                <key>frame</key>
                <string>{{226,160},{10,50}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,243},{10,50}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10001</key>
            <dict>
                <key>frame</key>
                <string>{{150,200},{14,56}}</string>
                <key>offset</key>
                <string>{-33,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,237},{14,56}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10002</key>
            <dict>
                <key>frame</key>
                <string>{{88,180},{18,66}}</string>
                <key>offset</key>
                <string>{-37,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,226},{18,66}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10003</key>
            <dict>
                <key>frame</key>
                <string>{{166,172},{16,66}}</string>
                <key>offset</key>
                <string>{-34,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,230},{16,66}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10004</key>
            <dict>
                <key>frame</key>
                <string>{{198,90},{12,56}}</string>
                <key>offset</key>
                <string>{-29,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,245},{12,56}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10005</key>
            <dict>
                <key>frame</key>
                <string>{{204,166},{10,54}}</string>
                <key>offset</key>
                <string>{-25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,249},{10,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10006</key>
            <dict>
                <key>frame</key>
                <string>{{194,186},{8,52}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,250},{8,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10007</key>
            <dict>
                <key>frame</key>
                <string>{{216,166},{8,52}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,247},{8,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{258,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:533d363d2565fa7f684a1c9b6e748d42:27f0b5157ec53272a6ccfca57e52f5ff:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
