<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{60,134}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,29},{60,134}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{66,148}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,35},{66,148}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{52,142}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,28},{52,142}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{90,124}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,42},{90,124}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{64,116}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,46},{64,116}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{466,150},{94,134}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,19},{94,134}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{252,156},{94,148}}</string>
                <key>offset</key>
                <string>{20,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,39},{94,148}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{956,68},{114,68}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,86},{114,68}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{152,106}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,86},{152,106}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{146,86}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,102},{146,86}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{150,92}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,99},{150,92}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{58,134}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,28},{58,134}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{58,120}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,39},{58,120}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{68,156}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,34},{68,156}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,168}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,19},{76,168}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{58,136}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,20},{58,136}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{402,152},{62,98}}</string>
                <key>offset</key>
                <string>{12,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,43},{62,98}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{160,166},{84,90}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,86},{84,90}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{92,162}}</string>
                <key>offset</key>
                <string>{49,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,78},{92,162}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{602,140},{110,106}}</string>
                <key>offset</key>
                <string>{38,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,125},{110,106}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{838,128},{116,120}}</string>
                <key>offset</key>
                <string>{41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,115},{116,120}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{710,138},{112,126}}</string>
                <key>offset</key>
                <string>{38,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,119},{112,126}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{1040,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ce3a26650ad2ed02258280ba16f37e:662900c4f8059d34d9c4b351cad67847:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
