<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{116,129}}</string>
                <key>offset</key>
                <string>{23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,160},{116,129}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{157,677},{96,143}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,151},{96,143}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{369,680},{110,129}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,165},{110,129}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{364,260},{124,121}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,175},{124,121}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{127,775},{150,143}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{150,143}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{144,153}}</string>
                <key>offset</key>
                <string>{29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,150},{144,153}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{146,123}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,176},{146,123}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{170,129}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{170,129}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{172,129}}</string>
                <key>offset</key>
                <string>{30,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,193},{172,129}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{180,272},{176,129}}</string>
                <key>offset</key>
                <string>{33,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,191},{176,129}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{176,131}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,192},{176,131}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{279,775},{88,131}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,148},{88,131}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{369,811},{106,97}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,175},{106,97}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{370,133},{112,125}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,147},{112,125}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{358,386},{124,139}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,141},{124,139}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{348,527},{134,151}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,159},{134,151}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{174,544},{168,131}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,188},{168,131}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{180,97}}</string>
                <key>offset</key>
                <string>{12,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,213},{180,97}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{176,403},{170,139}}</string>
                <key>offset</key>
                <string>{14,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,205},{170,139}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{184,135},{178,135}}</string>
                <key>offset</key>
                <string>{14,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,215},{178,135}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,131}}</string>
                <key>offset</key>
                <string>{14,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{182,131}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,131}}</string>
                <key>offset</key>
                <string>{12,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,219},{182,131}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{488,923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91a2ca4dafaeb7067ec6493a2cb1cb0a:9f8e8b67f4ff569f88e95cf7a356379d:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
