<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{126,154}}</string>
                <key>offset</key>
                <string>{19,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,107},{126,154}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,116}}</string>
                <key>offset</key>
                <string>{29,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,119},{168,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{152,108}}</string>
                <key>offset</key>
                <string>{11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,133},{152,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{158,120},{162,96}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{162,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{166,90}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,160},{166,90}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{112,430},{164,94}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,160},{164,94}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{158,90}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,165},{158,90}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{94,758},{160,92}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,165},{160,92}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{94,852},{158,92}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,169},{158,92}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{122,156}}</string>
                <key>offset</key>
                <string>{-37,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,96},{122,156}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{104,596},{96,160}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,98},{96,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{126,284},{122,144}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,111},{122,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{100,154}}</string>
                <key>offset</key>
                <string>{-23,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,112},{100,154}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{94,946},{102,126}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,133},{102,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{110,108}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,155},{110,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{118,1158},{108,108}}</string>
                <key>offset</key>
                <string>{-25,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,155},{108,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{112,1050},{112,106}}</string>
                <key>offset</key>
                <string>{-24,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,157},{112,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{114,104}}</string>
                <key>offset</key>
                <string>{-23,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,159},{114,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{256,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663ce34a8397e0192b8dcf727e992508:38140a4e6b1b480f6bdf38637e8128f9:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
