<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{54,74},{40,48}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,401},{40,48}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{104,74},{40,50}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,398},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{156,74},{40,50}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,398},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{38,50}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,399},{38,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{40,50}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,401},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{54,116},{40,50}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,403},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{40,50}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,406},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{158,116},{40,50}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,406},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{40,50}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,406},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{54,158},{40,50}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,406},{40,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{106,158},{42,50}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,404},{42,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{42,50}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,401},{42,50}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,32}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,416},{36,32}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{34,34}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,412},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{36,34}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,412},{36,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{34,34}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,412},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{34,34}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,414},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{34,34}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,416},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{34,34}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,419},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{38,38},{34,34}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,420},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{74,38},{34,34}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,421},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{110,38},{34,34}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,421},{34,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{146,38},{36,34}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,419},{36,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{184,38},{36,34}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,416},{36,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{222,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed26fdd15b86f00211884420487887e:f7bce43d6928ca9473c482e9f2b6f09d:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
