<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,142}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,57},{100,142}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,142}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,57},{100,142}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{96,140}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,39},{96,140}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{96,140}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,39},{96,140}}</string>
                <key>sourceSize</key>
                <string>{352,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parry.png</string>
            <key>size</key>
            <string>{104,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f76a3e6e4ac24dd49613281a981a6651:4323a24259f58965be7475807e177153:25faeef54b43c2a3a9386d8709b4fceb$</string>
            <key>textureFileName</key>
            <string>parry.png</string>
        </dict>
    </dict>
</plist>
