<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{58,66}}</string>
                <key>offset</key>
                <string>{-28,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,257},{58,66}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{60,70}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,252},{60,70}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{58,74}}</string>
                <key>offset</key>
                <string>{-27,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,248},{58,74}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{234,68},{58,68}}</string>
                <key>offset</key>
                <string>{-24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,256},{58,68}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,74}}</string>
                <key>offset</key>
                <string>{-37,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,257},{64,74}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{444,62},{64,58}}</string>
                <key>offset</key>
                <string>{-36,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,265},{64,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{64,64}}</string>
                <key>offset</key>
                <string>{-35,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,269},{64,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{376,64},{66,58}}</string>
                <key>offset</key>
                <string>{-36,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,276},{66,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{64,60}}</string>
                <key>offset</key>
                <string>{-35,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,274},{64,60}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{558,68},{64,54}}</string>
                <key>offset</key>
                <string>{-35,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,280},{64,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{54,64}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,234},{54,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{624,68},{52,64}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,233},{52,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{504,54},{52,70}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,227},{52,70}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{56,64}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,226},{56,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{68,60}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,232},{68,60}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{304,64},{70,56}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,242},{70,56}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{156,74},{76,52}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,246},{76,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{74,50}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,247},{74,50}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{78,46}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,251},{78,46}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{82,78},{72,42}}</string>
                <key>offset</key>
                <string>{-21,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,255},{72,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{690,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a95ebd4f4865a0a9bd0f47c216d1a4:5ca4c4eb475999b80a10911a610f2979:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
