<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{102,50},{24,34}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,229},{24,34}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{50,146},{22,36}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,233},{22,36}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{50,184},{24,34}}</string>
                <key>offset</key>
                <string>{-26,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,238},{24,34}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{98,86},{28,34}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,242},{28,34}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{76,182},{34,20}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,229},{34,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{44,20}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,221},{44,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{100,122},{32,26}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,208},{32,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{62,50},{38,24}}</string>
                <key>offset</key>
                <string>{-15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,206},{38,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{34,24}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,208},{34,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{100,156},{32,26}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,208},{32,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{50,220},{34,20}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,237},{34,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{76,218},{16,20}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,231},{16,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{72,236},{18,20}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,230},{18,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{98,224},{22,22}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,227},{22,22}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{32,24}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,234},{32,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,46}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,222},{72,46}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,72}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,197},{58,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{46,72}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,194},{46,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{50,76},{46,68}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,195},{46,68}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{46,64}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,196},{46,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c06ca182f59ba948368c0587fb07c99:989dbcd2aa9596f12d516769d46d0e0f:66fd7a6e3aa425dbf057b24948392f2e$</string>
            <key>textureFileName</key>
            <string>attack2.png</string>
        </dict>
    </dict>
</plist>
