<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5/10000.tga</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,108}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{68,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10001.tga</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{68,108}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{68,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10002.tga</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{68,108}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{68,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10003.tga</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{66,108}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{66,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10004.tga</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{66,108}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{66,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10005.tga</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{68,108}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{68,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10006.tga</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{68,108}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{68,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10007.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,108}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,69},{70,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5/10008.tga</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,108}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,69},{70,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snuggle.png</string>
            <key>size</key>
            <string>{632,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f20a92542c2d4ed5569a039d248a289:df4128c9cf85d53b6a67ae730026ac2a:163ab070dfbb2c48450aaeec6fa0a323$</string>
            <key>textureFileName</key>
            <string>snuggle.png</string>
        </dict>
    </dict>
</plist>
