<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01347_zi_09.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>01347_lizi/01347_lizi_00.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01347_lizi/01347_lizi_01.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>01347_lizi/01347_lizi_02.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>01347_lizi/01347_lizi_03.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>01347_lizi/01347_lizi_04.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01347_lizi/01347_lizi_05.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>01347_lizi/01347_lizi_06.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>33</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_00.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_01.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_02.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>47</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_03.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_04.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_05.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_06.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_07.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_08.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_09.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_10.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>233</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_11.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>37</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>01347_yanwu/01347_yanwu_12.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>56</integer>
				<key>offsetX</key>
				<real>44.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>01347_zi_08.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>01347_zi_07.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>01347_zi_06.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>01347_zi_05.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>445</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>01347_zi_04.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01347_zi_03.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01347_zi_02.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>01347_zi_01.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>01347_bagua.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>01347_bagua_03.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>01347_bagua_02.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>01347_bagua_01.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>741</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>013470.png</string>
			<key>realTextureFileName</key>
			<string>013470.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>