<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{130,171}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,141},{130,171}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{140,169}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,141},{140,169}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{152,169}}</string>
                <key>offset</key>
                <string>{-30,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,141},{152,169}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,171}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,141},{158,171}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,173}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,140},{158,173}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,173}}</string>
                <key>offset</key>
                <string>{-34,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,141},{158,173}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{146,173}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,141},{146,173}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{128,171}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,141},{128,171}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{1300,132},{116,135}}</string>
                <key>offset</key>
                <string>{-30,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,136},{116,135}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{114,141}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,131},{114,141}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{982,134},{120,147}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,126},{120,147}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{1155,132},{122,143}}</string>
                <key>offset</key>
                <string>{-35,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,130},{122,143}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{120,139}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,133},{120,139}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{1469,118},{114,135}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,137},{114,135}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{1606,118},{108,131}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,141},{108,131}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{811,144},{110,135}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,137},{110,135}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1716,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbe68147dbd006ba6f06d2171e8d015:bbf5febc41fc58b189188e6a663d7ed0:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
