<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{134,176}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,64},{134,176}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{186,138},{168,174}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,66},{168,174}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,172}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,72},{182,172}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{176,308},{152,170}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,70},{152,170}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{140,146}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,94},{140,146}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{322,600},{138,144}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,96},{138,144}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{362,144},{134,146}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,94},{134,146}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{132,158}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,82},{132,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{124,162}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,89},{124,162}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{348,442},{156,162}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,89},{156,162}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{172,158}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,93},{172,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{144,160}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,91},{144,160}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{126,160}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,91},{126,160}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{162,462},{124,158}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,93},{124,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{130,710},{120,156}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,95},{120,156}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{162,588},{120,158}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,93},{120,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cast.png</string>
            <key>size</key>
            <string>{512,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d84ef3c693db14617e8a10639d457612:60d0081f53d465ab0ab9ab72dac1ee22:d03238ae1020ade0492eb7d04c29871f$</string>
            <key>textureFileName</key>
            <string>cast.png</string>
        </dict>
    </dict>
</plist>
