<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,170}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,70},{160,170}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{156,168}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,70},{156,168}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{308,172},{150,168}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,69},{150,168}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{146,166}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,70},{146,166}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{610,170},{144,166}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,70},{144,166}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{754,338},{144,166}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,72},{144,166}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{144,164}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,74},{144,164}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{756,170},{146,164}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,71},{146,164}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10008</key>
            <dict>
                <key>frame</key>
                <string>{{604,340},{148,164}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,70},{148,164}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10009</key>
            <dict>
                <key>frame</key>
                <string>{{460,172},{148,166}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,70},{148,166}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10010</key>
            <dict>
                <key>frame</key>
                <string>{{160,174},{146,170}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,69},{146,170}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>3/10011</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{156,170}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,70},{156,170}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{142,168}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,90},{142,168}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{144,166}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,89},{144,166}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{900,336},{144,164}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,88},{144,164}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{904,168},{144,164}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,85},{144,164}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{156,346},{146,158}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,88},{146,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{152,156}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,87},{152,156}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{446,342},{156,160}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,85},{156,160}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{152,158}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,85},{152,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10008</key>
            <dict>
                <key>frame</key>
                <string>{{1050,156},{146,156}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,84},{146,156}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10009</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{142,154}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,85},{142,154}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10010</key>
            <dict>
                <key>frame</key>
                <string>{{1046,334},{138,160}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,85},{138,160}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>5/10011</key>
            <dict>
                <key>frame</key>
                <string>{{304,346},{140,158}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,89},{140,158}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{1210,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14059661ac8927ecd057bd8945eabe7f:9c6b2fe149e0c3c4a3277a14f3b9db19:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
