<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2/10000</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{48,84}}</string>
                <key>offset</key>
                <string>{26,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,175},{48,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10001</key>
            <dict>
                <key>frame</key>
                <string>{{282,442},{38,72}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,173},{38,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10002</key>
            <dict>
                <key>frame</key>
                <string>{{412,346},{42,60}}</string>
                <key>offset</key>
                <string>{15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,170},{42,60}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10003</key>
            <dict>
                <key>frame</key>
                <string>{{412,390},{44,54}}</string>
                <key>offset</key>
                <string>{3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,155},{44,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10004</key>
            <dict>
                <key>frame</key>
                <string>{{356,418},{54,62}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,157},{54,62}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10005</key>
            <dict>
                <key>frame</key>
                <string>{{412,436},{42,54}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,157},{42,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10006</key>
            <dict>
                <key>frame</key>
                <string>{{358,198},{40,64}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,166},{40,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10007</key>
            <dict>
                <key>frame</key>
                <string>{{356,344},{36,72}}</string>
                <key>offset</key>
                <string>{21,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,170},{36,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{142,98},{74,92}}</string>
                <key>offset</key>
                <string>{27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,186},{74,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{92,386},{54,92}}</string>
                <key>offset</key>
                <string>{38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,178},{54,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{54,82}}</string>
                <key>offset</key>
                <string>{38,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,167},{54,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{282,360},{52,80}}</string>
                <key>offset</key>
                <string>{35,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,157},{52,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{58,82}}</string>
                <key>offset</key>
                <string>{34,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,154},{58,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{394,142},{54,80}}</string>
                <key>offset</key>
                <string>{35,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,159},{54,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{394,86},{54,82}}</string>
                <key>offset</key>
                <string>{39,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,167},{54,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{284,90},{58,86}}</string>
                <key>offset</key>
                <string>{37,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,181},{58,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10000</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{92,82}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,208},{92,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10001</key>
            <dict>
                <key>frame</key>
                <string>{{154,282},{80,86}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,199},{80,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10002</key>
            <dict>
                <key>frame</key>
                <string>{{222,186},{66,86}}</string>
                <key>offset</key>
                <string>{43,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,189},{66,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10003</key>
            <dict>
                <key>frame</key>
                <string>{{154,192},{66,88}}</string>
                <key>offset</key>
                <string>{47,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,180},{66,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10004</key>
            <dict>
                <key>frame</key>
                <string>{{148,386},{72,90}}</string>
                <key>offset</key>
                <string>{45,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,177},{72,90}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10005</key>
            <dict>
                <key>frame</key>
                <string>{{218,96},{64,88}}</string>
                <key>offset</key>
                <string>{47,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,181},{64,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10006</key>
            <dict>
                <key>frame</key>
                <string>{{290,178},{66,84}}</string>
                <key>offset</key>
                <string>{44,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,191},{66,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10007</key>
            <dict>
                <key>frame</key>
                <string>{{236,274},{84,84}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,197},{84,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{322,264},{78,72}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,218},{78,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{82,86}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,211},{82,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{72,92}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,199},{72,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{70,102},{70,94}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,191},{70,94}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{76,94}}</string>
                <key>offset</key>
                <string>{31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,188},{76,94}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{68,94}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,192},{68,94}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{74,92}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,200},{74,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{84,88}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,208},{84,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10000</key>
            <dict>
                <key>frame</key>
                <string>{{396,300},{44,76}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,205},{44,76}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10001</key>
            <dict>
                <key>frame</key>
                <string>{{400,250},{48,78}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,212},{48,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10002</key>
            <dict>
                <key>frame</key>
                <string>{{222,370},{58,86}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,207},{58,86}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{66,98}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,198},{66,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,98}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,198},{74,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{66,96}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,200},{66,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10006</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{56,88}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,209},{56,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10007</key>
            <dict>
                <key>frame</key>
                <string>{{400,198},{50,78}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,210},{50,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{482,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8953a7ee595b9229a0db8a6be6632d2b:6cf929a5c3fa0ca8d1583379032e5fdc:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
