<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2/10000</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{14,50}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,211},{14,50}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10001</key>
            <dict>
                <key>frame</key>
                <string>{{540,22},{8,44}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,220},{8,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10002</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{16,42}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,226},{16,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10003</key>
            <dict>
                <key>frame</key>
                <string>{{492,30},{26,34}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,236},{26,34}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10004</key>
            <dict>
                <key>frame</key>
                <string>{{270,22},{24,28}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,245},{24,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10005</key>
            <dict>
                <key>frame</key>
                <string>{{552,32},{22,28}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,246},{22,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10006</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{14,38}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,233},{14,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>2/10007</key>
            <dict>
                <key>frame</key>
                <string>{{586,20},{10,46}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,219},{10,46}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{28,50}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,221},{28,50}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{234,22},{34,40}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,232},{34,40}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{42,32}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,240},{42,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{46,22}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,248},{46,22}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{362,18},{44,20}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,258},{44,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{384,18},{44,18}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,260},{44,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{404,36},{46,26}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,248},{46,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{152,24},{38,40}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,232},{38,40}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,36}}</string>
                <key>offset</key>
                <string>{23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,240},{50,36}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10001</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{46,26}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,250},{46,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10002</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{46,18}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,256},{46,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10003</key>
            <dict>
                <key>frame</key>
                <string>{{334,18},{44,26}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,253},{44,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10004</key>
            <dict>
                <key>frame</key>
                <string>{{300,18},{44,32}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,254},{44,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10005</key>
            <dict>
                <key>frame</key>
                <string>{{54,32},{48,30}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,259},{48,30}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10006</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{54,18}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,264},{54,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>4/10007</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{56,20}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,251},{56,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{44,18}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,258},{44,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{452,30},{32,20}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,262},{32,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{28,30}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,252},{28,30}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{474,30},{16,32}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,247},{16,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{16,34}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,248},{16,34}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{104,32},{30,46}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,243},{30,46}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{196,22},{36,40}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,250},{36,40}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{42,26}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,259},{42,26}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10000</key>
            <dict>
                <key>frame</key>
                <string>{{632,42},{18,22}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,259},{18,22}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10001</key>
            <dict>
                <key>frame</key>
                <string>{{598,46},{10,24}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,256},{10,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10002</key>
            <dict>
                <key>frame</key>
                <string>{{270,48},{14,28}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,246},{14,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10003</key>
            <dict>
                <key>frame</key>
                <string>{{576,32},{20,28}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,239},{20,28}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10004</key>
            <dict>
                <key>frame</key>
                <string>{{634,20},{20,30}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,239},{20,30}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10005</key>
            <dict>
                <key>frame</key>
                <string>{{598,32},{12,32}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,246},{12,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10006</key>
            <dict>
                <key>frame</key>
                <string>{{528,30},{10,32}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,250},{10,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>6/10007</key>
            <dict>
                <key>frame</key>
                <string>{{540,32},{10,30}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,255},{10,30}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{666,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04261ebc644ccbc002e1eca2169027b2:3f36e74f0980bfed46c45a93a5d6a97a:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
