<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3/10000</key>
            <dict>
                <key>frame</key>
                <string>{{66,42},{80,20}}</string>
                <key>offset</key>
                <string>{52,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,228},{80,20}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10001</key>
            <dict>
                <key>frame</key>
                <string>{{150,38},{72,14}}</string>
                <key>offset</key>
                <string>{-26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,222},{72,14}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{36,64}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,196},{36,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{58,58}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,226},{58,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10004</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{86,16}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,209},{86,16}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10005</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{34,44}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,259},{34,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10006</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{22,52}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,255},{22,52}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>3/10007</key>
            <dict>
                <key>frame</key>
                <string>{{110,120},{34,44}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,259},{34,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10000</key>
            <dict>
                <key>frame</key>
                <string>{{40,120},{34,64}}</string>
                <key>offset</key>
                <string>{34,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,260},{34,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10001</key>
            <dict>
                <key>frame</key>
                <string>{{76,120},{32,56}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,205},{32,56}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10002</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{78,38}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,237},{78,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,215},{62,56}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10004</key>
            <dict>
                <key>frame</key>
                <string>{{166,38},{20,54}}</string>
                <key>offset</key>
                <string>{28,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,208},{20,54}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10005</key>
            <dict>
                <key>frame</key>
                <string>{{62,100},{80,18}}</string>
                <key>offset</key>
                <string>{-73,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,234},{80,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10006</key>
            <dict>
                <key>frame</key>
                <string>{{62,82},{86,16}}</string>
                <key>offset</key>
                <string>{-71,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,226},{86,16}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>5/10007</key>
            <dict>
                <key>frame</key>
                <string>{{110,166},{80,18}}</string>
                <key>offset</key>
                <string>{-73,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,234},{80,18}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cast.png</string>
            <key>size</key>
            <string>{192,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89de188215d8fcca164c021ebef9e61:bed435acd4866ae638ef88f55ac9b2f8:d03238ae1020ade0492eb7d04c29871f$</string>
            <key>textureFileName</key>
            <string>cast.png</string>
        </dict>
    </dict>
</plist>
